/* 头部 */
.myEvent_right{width:758px; padding:0px; }
.myEvent_right .rightTitle{width:730px; height:40px; line-height:40px; padding:10px 0px 10px 28px; margin:0px auto; }
.myEvent_right .rightTitle .line{position:absolute; left:15px; top:20px; width:4px; height:20px; overflow:hidden; background:#2ba873; }
.myEvent_right .search{position:absolute; right:10px; top:10px; width:300px; height:30px; padding:4px; border:1px #e1e2e6 solid; border-radius:5px; /*box-shadow:1px 1px 2px #eee inset; */overflow:hidden; background:#fff; }
.myEvent_right .search .searchInput{float:left; display:inline; width:260px; height:30px; margin-left:5px; background:#fff; border:0px; line-height:30px; font-size:14px; background:#fff; }
.myEvent_right .search .searchBtn{float:right; display:inline; width:21px; height:21px; margin:4px 4px 5px 5px; border:0px; background:url("../images/icon03.png") 0px -120px no-repeat; cursor:pointer; }
.myEvent_right .noData{font-size:16px;text-align:center;line-height:100px;color:#999;}
/* 主体时间轴 */
.myEvent_right .rightBody{border-top:1px #e1e2e6 solid;margin-top:-1px; padding:0px; }
.myEvent_right .timeLine{float:left; width:100%; }
.myEvent_right .timeLine .timeNode{float:left; display:inline; position:relative; width:707px; padding:25px; }
.myEvent_right .timeLine .timeNode .mobileOrder{width:60px;height:20px;line-height:20px;border:1px solid #2ba873;margin-left:18px;font-size:12px;color:#2ba873;text-align:center;}
.myEvent_right .timeLine .timeNode .nodeL{float:left; display:inline; width:100px; margin-right:27px; }
.myEvent_right .timeLine .timeNode .nodeR{float:left; display:inline; width:580px; }
.myEvent_right .timeLine .timeNode .info{float:left; display:inline; position:relative; height:20px; line-height:20px; font-size:14px; color:#666; }
.myEvent_right .timeLine .timeNode .info span.icon{position:absolute; left:0px; top:2px; width:16px; height:16px; background-image:url("../images/icon03.png"); }
.myEvent_right .timeLine .timeNode .logo{float:left; position:relative; display:inline; width:100px; height:100px; margin-right:27px; overflow:hidden; }
.myEvent_right .timeLine .timeNode .logo span{float:left; display:inline; position:relative; margin-left:50%; height:100px; }
.myEvent_right .timeLine .timeNode .logo img{float:left; position:relative; left:-50%; height:100px; }
.myEvent_right .timeLine .timeNode .state{float:left; width:100%; height:32px; margin-top:10px; text-align:center; line-height:32px; font-size:14px; }
.myEvent_right .timeLine .timeNode .bit{position:absolute; left:112px; top:21px; width:11px; height:11px; border:4px #2ba873 solid; border-radius:10px; background:#fff; overflow:hidden; z-index:2; }
.myEvent_right .timeLine .timeNode .title{height:40px; margin-bottom:15px; font-size:18px; line-height:20px; overflow:hidden; }
.myEvent_right .timeLine .timeNode .area{padding-left:20px; width:560px; margin-bottom:5px; }
.myEvent_right .timeLine .timeNode .area span.icon{background-position:-80px -60px; }
.myEvent_right .timeLine .timeNode .time{padding-left:20px; width:560px; margin:0px 0px 10px 0px; }
.myEvent_right .timeLine .timeNode .time span.icon{background-position:-100px -60px; }
.myEvent_right .timeLine .timeNode .num{width:560px; height:32px; margin:0px 0px 5px 0px; line-height:32px; font-size:12px; }
.myEvent_right .timeLine .timeNode .right{float:right;text-align:right; font-weight:bold; }
.myEvent_right .timeLine .timeNode .right span{margin:0px 5px; }
.myEvent_right .timeLine .timeNode .countdown{margin-top:5px; font-weight:bold; color:#333;margin-left:120px;}
.myEvent_right .timeLine .timeNode .countdown span{margin:0px 5px; }
.myEvent_right .timeLine .timeNode .btn{height:32px; }
.myEvent_right .timeLine .timeNode .btn .btn_small{float:left; display:inline; margin-right:7px; padding:5px 15px; }
.myEvent_right .timeLine .timeNode .btnR .btn_small{font-size:12px;padding:5px 15px;}
/* 分页 */
.myEvent_right .global_page{border-top:1px #e1e2e6 solid; width:100%; }
/* 对话框 */
.myEvent_dialog{width:600px; }
.myEvent_dialog .modify{width:562px; padding:0px 19px; }
.myEvent_dialog .modify .modifyTitle{font-size:16px; line-height:40px; }
.myEvent_dialog .modify .modifyForm{float:left; display:block; width:560px; height:auto; background:#fbfbfc; border:1px #e1e2e6 solid; margin-top:-1px; }
.myEvent_dialog .modify .modifyForm dt{position:relative; height:40px; text-indent:20px; font-size:14px; line-height:40px; cursor:pointer; }
.myEvent_dialog .modify .modifyForm dt span{display:block; position:absolute; right:15px; top:8px; height:24px; text-indent:0px; line-height:24px; padding-right:30px; background-image:url("../images/icon8.png"); background-repeat:no-repeat; }
.myEvent_dialog .modify .modifyForm dt span.up{background-position:right -40px; }
.myEvent_dialog .modify .modifyForm dt span.down{background-position:right -80px; }
.myEvent_dialog .modify .modifyForm dd{float:left; display:none; width:100%; border-top:1px #e1e2e6 solid; padding:10px 0px; }
.myEvent_dialog .modify .modifyForm dd.fList_narrow ul li{padding:7px 0px; line-height:30px; }
.myEvent_dialog .modify .modifyForm dd.fList_narrow ul li.tips{padding:0px 0px 7px 20px; line-height:16px; }
.myEvent_dialog .modify .modifyForm dd .btnBox{padding:13px 0 10px;text-align: center;}
.myEvent_dialog .modify .modifyForm dd .btnBox a{display: inline-block;}
.myEvent_dialog .btnOK{width:1000px; height:auto; margin:50px auto 50px auto; }
.myEvent_dialog .btnOK a{float:right; font-size:24px; }

/*==================== 复制活动 ====================*/
.myEvent_copy{border:1px solid #e1e2e6;}
.myEvent_copy .copyTitle{background-color:#fcfcfc;font-size:18px;position:relative;height:40px;line-height:40px; padding:10px 0px 10px 28px; margin:0px auto; }
.myEvent_copy .copyTitle .line{position:absolute; left:15px; top:20px; width:4px; height:20px; overflow:hidden; background:#2ba873; }
.myEvent_copy .copyBody{padding:0 20px;}
.myEvent_copy .copyBody .illustration{padding:40px 80px;line-height:24px;border-bottom:1px solid #e1e2e6;}
.myEvent_copy .copyBody .illustration li{position:relative;padding-left:20px;font-size:14px;zoom:1;}
.myEvent_copy .copyBody .illustration li .spot{position:absolute;width:10px;height:24px;line-height:24px;left:3px;top:0;font-size:20px;font-weight:bold;}
.myEvent_copy .copyBody .fListN_90_580{margin:40px auto;}
.myEvent_copy .copyBody .btnBox{overflow:hidden;zoom:1;padding-left:230px;padding-bottom:50px;}
.myEvent_copy .copyBody .btnBox .tip{clear:both;padding-top:10px;}












