<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lepeng.repository.ProductMapper">

	<!-- 保存商品 -->
	<insert id="insert" parameterType="Product">
		INSERT INTO product(name,status)
		VALUES(#{name},#{status})
	</insert>

	<!-- 更新商品内容 -->
	<update id="update" parameterType="Product">
		UPDATE product SET name=#{name}
		where id=#{id}
	</update>
	
	<!-- 根据id删除商品 -->
	<update id="delete" parameterType="Product">
		UPDATE product SET status=#{status} where id=#{id}
	</update>
	
	<select id="getByPage"  parameterType="int" resultType="Product">
	   SELECT *
	   FROM product
	   WHERE status != 0
	   ORDER BY id desc 
	   LIMIT #{start},#{size}
	</select>
	
		<!-- 分页查询专题 -->
	<select id="getByCondition"   resultType="Product">
	     SELECT *
	   FROM product
	   WHERE status != 0
	   <if test="bean.name != null and bean.name != ''">
        	AND name like   CONCAT('%',#{bean.name},'%')
        </if>
	   ORDER BY id desc 
	   LIMIT #{start},#{pageSize}
	</select>
	
	<select id="getCount" parameterType="Product" resultType="long">
		select count(*) from product where status!=0
		<if test="bean.name != null  and bean.name != ''">
        	AND name like   CONCAT('%',#{bean.name},'%')
        </if>
 
	</select>

	<select id="getById"  parameterType="int" resultType="Product">
	   select *
	   from product
	   where id = #{id} 
	</select>

</mapper>