<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Copyright 2009-2012 the original author or authors. Licensed under the 
	Apache License, Version 2.0 (the "License"); you may not use this file except 
	in compliance with the License. You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0 
	Unless required by applicable law or agreed to in writing, software distributed 
	under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES 
	OR CONDITIONS OF ANY KIND, either express or implied. See the License for 
	the specific language governing permissions and limitations under the License. -->

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.galaxy.dal.card.mapper.CardMapper">

	<resultMap type="card" id="CARD_MAP">
		<id property="id" column="id" />
		<result property="createdTime" column="created_time" />
		<result property="updatedTime" column="updated_time" />
		<result property="userId" column="user_id" />
		<result property="username" column="username" />
		<result property="company" column="company" />
		<result property="title" column="title" />
		<result property="phone" column="phone" />
		<result property="email" column="email" />
		<result property="address" column="address" />
		<result property="website" column="website" />
		<result property="qq" column="qq" />
		<result property="weixin" column="weixin" />
		<result property="avatar" column="avatar" />
		<result property="qrcodeUrl" column="qrcode_url" />
	</resultMap>
	
	<insert id="insert" parameterType="card" useGeneratedKeys="true" keyProperty="id">
		insert into u_card
		(created_time,updated_time,user_id,username,company,title,phone,email,address,website,qq,weixin,avatar,qrcode_url)
		values(#{createdTime},#{updatedTime},#{userId},#{username},#{company},#{title},#{phone},#{email},#{address},#{website},#{qq},#{weixin},#{avatar},#{qrcodeUrl})
	</insert>
	
	<delete id="deleteById" parameterType="long">
		delete from u_card
		where id =#{id}
	</delete>
	
	<select id="getById" parameterType="long" resultMap="CARD_MAP">
		select * from u_card
		where id = #{id}
	</select>
	
	<!-- 查询userId名片 -->
	<select id="getByUserId" resultMap="CARD_MAP"
		parameterType="long">
		SELECT *
		FROM u_card
		WHERE user_id = #{userId}
	</select>
	
	
	<!-- 修改名片 ,user_id和qrcode地址应该是不更新的-->
	<update id="update" parameterType="card">
	update u_card 
	set
	updated_time = #{updatedTime},username = #{username},company = #{company},title = #{title},phone = #{phone},email = #{email},address = #{address},
	website = #{website},qq = #{qq},weixin = #{weixin},avatar = #{avatar},qrcode_url = #{qrcodeUrl}
	where user_id = #{user_id}
	</update>
	
</mapper>
