<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Copyright 2009-2012 the original author or authors. Licensed under the 
	Apache License, Version 2.0 (the "License"); you may not use this file except 
	in compliance with the License. You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0 
	Unless required by applicable law or agreed to in writing, software distributed 
	under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES 
	OR CONDITIONS OF ANY KIND, either express or implied. See the License for 
	the specific language governing permissions and limitations under the License. -->

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.galaxy.dal.card.mapper.UserCardMapper">

	<resultMap type="userCard" id="USER_CARD_MAP">
		<id property="id" column="id" />
		<result property="createdTime" column="created_time" />
		<result property="updatedTime" column="updated_time" />
		<result property="userId" column="user_id" />
		<result property="targetUserId" column="target_user_id" />
		<result property="tergetCardId" column="target_card_id" />
		<result property="requestStatus" column="request_status" />
	</resultMap>
	
	<insert id="insert" parameterType="userCard" useGeneratedKeys="true" keyProperty="id">
		insert into u_user_card
		(created_time,updated_time,user_id,target_user_id,target_card_id,request_status)
		values(#{createdTime},#{updatedTime},#{userId},#{targetUserId},#{tergetCardId},#{requestStatus})
	</insert>
	
	<update id="update" parameterType="userCard">
		update u_user_card
		set updated_time = #{updatedTime},
		request_status = #{requestStatus}
		where id = #{id}
	</update>
	<delete id="deleteById" parameterType="long">
		delete from u_user_card
		where id =#{id}
	</delete>
	
	<select id="getById" parameterType="long" resultMap="USER_CARD_MAP">
		select * from u_user_card
		where id = #{id}
	</select>
	
	<select id="getAllFriendCard" parameterType="long" resultMap="USER_CARD_MAP">
		select *
		from u_user_card
		where user_id = #{userId}
		order by created_time desc
	</select>
	
	<select id="getFriendCardPageByOffset" resultMap="USER_CARD_MAP">
		select *
		from u_user_card
		where user_id = #{userId}
		order by created_time desc
		limit #{offset},#{pageSize}
	</select>
	
	<select id="getByUserIdTargetUserId" resultMap="USER_CARD_MAP">
		select *
		from u_user_card
		where user_id = #{userId} and target_user_id = #{targetUserId}
		limit 1
	</select>
	
</mapper>
