<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Copyright 2009-2012 the original author or authors. Licensed under the 
	Apache License, Version 2.0 (the "License"); you may not use this file except 
	in compliance with the License. You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0 
	Unless required by applicable law or agreed to in writing, software distributed 
	under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES 
	OR CONDITIONS OF ANY KIND, either express or implied. See the License for 
	the specific language governing permissions and limitations under the License. -->

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.galaxy.dal.activity.mapper.ActivityCommentMapper"> 
	<resultMap type="activityComment" id="ACTIVITY_COMMENT_MAP">
		<id property="id" column="id" />
		<result property="createdTime" column="created_time" />
		<result property="updatedTime" column="updated_time" />
		<result property="activityId" column="activity_id" />
		<result property="userId" column="user_id" />
		<result property="targetId" column="target_id" />
		<result property="commentType" column="comment_type" />
		<result property="content" column="content" />
		
	</resultMap>
	<select id="getById" resultMap="ACTIVITY_COMMENT_MAP"
		parameterType="long">
		SELECT *
		FROM ac_activity_commented_user
		WHERE id = #{id}
	</select>

    <!-- 评论活动 -->
	<insert id="insert" parameterType="activityComment"
		useGeneratedKeys="true" keyProperty="id">
		INSERT INTO
		ac_activity_commented_user(created_time,updated_time,activity_id,user_id,target_id,comment_type,content)
		VALUES(#{createdTime},#{updatedTime},#{activityId},#{userId},#{targetId},#{commentType},#{content})
	</insert>
	
	<!-- 取消评论  By 评论id-->
	<delete id="delete" parameterType="long">
	delete from ac_activity_commented_user
	where id = #{id}
	</delete>
	
	<update id="update" parameterType="activityComment">
	update ac_activity_commented_user
	set updated_time = #{updatedTime},content = #{content}
	where id = #{id}
	</update>

   <select id="getUserComActNum" parameterType="long" resultType="int">
   select count(distince activity_id)
   where user_id = #{userId}
   </select>
   
   <select id="getActComSortByTime" resultMap="ACTIVITY_COMMENT_MAP">
   select *
   ac_activity_commented_user
   where activity_id = #{activityId} and created_time &gt; #{commentTime}
   order by created_time
   limit #{pageSize}
   </select>
   
   <select id="getUserComedActSortByTime" resultMap="ACTIVITY_COMMENT_MAP">
   select *
   ac_activity_commented_user
   where user_id = #{userId},activity_id = #{activityId} and created_time &gt; #{commentTime}
   order by created_time
   limit #{pageSize}
   </select>
	
</mapper>
