<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Copyright 2009-2012 the original author or authors. Licensed under the 
	Apache License, Version 2.0 (the "License"); you may not use this file except 
	in compliance with the License. You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0 
	Unless required by applicable law or agreed to in writing, software distributed 
	under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES 
	OR CONDITIONS OF ANY KIND, either express or implied. See the License for 
	the specific language governing permissions and limitations under the License. -->

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.galaxy.dal.activity.mapper.ActivityMapper">

	<resultMap type="activity" id="ACTIVITY_MAP">
		<id property="id" column="id" />
		<result property="createdTime" column="created_time" />
		<result property="updatedTime" column="updated_time" />
		<result property="startTime" column="start_time"/>
		<result property="endTime" column="end_time"/>
		<result property="provinceId" column="province_id"/>
		<result property="cityId" column="city_id"/>
		<result property="districtId" column="district_id"/>
		<result property="refUrl" column="ref_url"/>
		<result property="operatorId" column="operator_id"/>
		<result property="joinedNum" column="joined_num"/>
		<result property="ticketsNum" column="tickets_num"/>
		<result property="userId" column="user_id"/>
		
	</resultMap>
	

	<!-- private ActivityType type;
	private String title;
	private Date startTime;
	private Date endTime;
	private Long provinceId; 
	private Long cityId; 
	private Long districtId; 
	private String address;

	private String refUrl;

	private Double price;

	private String tags;
	
	private Long userId;//发布人ID
	
	private Long operatorId;//操作人ID
	
	private Integer joinedNum;//参会人数
	
	private Integer ticketsNum;//门票数量
	haibao_urls
	email 
	catId1
	catId2
	catId3
	sponsor
	-->
	<!-- 添加活动 -->
	<insert id="insert" parameterType="activity"
		useGeneratedKeys="true" keyProperty="id">
		INSERT INTO
		ac_activity(id,created_time,type,title,start_time,end_time,province_id,city_id,district_id,address,ref_url,price,tags,user_id,operator_id,joined_num,tickets_num,liked_num,status,haibao_urls,phone,email,longtitude,latitude,description,catId1,catId2,catId3,sponsor)
		VALUES(#{id},#{createdTime},#{type},#{title},#{startTime},#{endTime},#{provinceId},#{cityId},#{districtId},#{address},#{refUrl},#{price},#{tags},#{userId},#{operatorId},#{joinedNum},#{ticketsNum},#{liked_num},#{status},#{haibao_urls},#{phone},#{email},#{longtitude},#{latitude},#{description},#{catId1},#{catId2},#{catId3},#{sponsor})
	</insert>
	
	<!-- 删除活动 -->
	<delete id="deleteById" parameterType="long">
	delete from ac_activity
	where
	id = #{id}
	</delete>
	
	<!-- 获取活动 -->
	<select id="getById" resultMap="ACTIVITY_MAP"
		parameterType="long">
		SELECT *
		FROM ac_activity
		WHERE id = #{id}
	</select>
	<!-- 统计某人发布的活动数 -->
	<select id="getUserCreatedActNum" parameterType="long">
	select count(*)
	from ac_activity
	where user_id = #{user_id}
	</select>
</mapper>
