<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Copyright 2009-2012 the original author or authors. Licensed under the 
	Apache License, Version 2.0 (the "License"); you may not use this file except 
	in compliance with the License. You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0 
	Unless required by applicable law or agreed to in writing, software distributed 
	under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES 
	OR CONDITIONS OF ANY KIND, either express or implied. See the License for 
	the specific language governing permissions and limitations under the License. -->

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.galaxy.dal.activity.mapper.ActivityCommentMapper"> 
	<resultMap type="activityComment" id="ACTIVITY_COMMENT_MAP">
		<id property="id" column="id" />
		<result property="createdTime" column="created_time" />
		<result property="updatedTime" column="updated_time" />
		<result property="activityId" column="activity_id" />
		<result property="userId" column="user_id" />
		<result property="targetId" column="target_id" />
		<result property="replyTime" column="reply_time" />
		
	</resultMap>
	<select id="getById" resultMap="ACTIVITY_COMMENT_MAP"
		parameterType="long">
		SELECT *
		FROM ac_activity_commented_users
		WHERE id = #{id}
	</select>

    <!-- 评论活动 -->
	<insert id="insert" parameterType="activityComment"
		useGeneratedKeys="true" keyProperty="id">
		INSERT INTO
		ac_activity_commented_users(created_time,activity_id,user_id,target_id,reply_time,content)
		VALUES(#{createdTime},#{activityId},#{userId},#{targetId},#{replyTime},#{content})
	</insert>
	
	<!-- 取消评论  By 评论id-->
	<delete id="cancelCommentById" parameterType="long">
	delete from ac_activity_commented_users
	where id = #{id}
	</delete>
	
	<!-- 取消评论 -->
	<delete id="cancelComment">
	delete from ac_activity_commented_users
	where user_id = #{user_id}
	and activity_id = #{activity_id}
	and reply_time = #{replyTime}
	</delete>
	
</mapper>
