<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Copyright 2009-2012 the original author or authors. Licensed under the 
	Apache License, Version 2.0 (the "License"); you may not use this file except 
	in compliance with the License. You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0 
	Unless required by applicable law or agreed to in writing, software distributed 
	under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES 
	OR CONDITIONS OF ANY KIND, either express or implied. See the License for 
	the specific language governing permissions and limitations under the License. -->

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.galaxy.dal.activity.mapper.ActivityMapper">

	<resultMap type="activity" id="ACTIVITY_MAP">
		<id property="id" column="id" />
		<result property="createdTime" column="created_time" />
		<result property="updatedTime" column="updated_time" />
		<result property="title" column="title"/>
		<result property="startTime" column="start_time"/>
		<result property="endTime" column="end_time"/>
		<result property="provinceId" column="province_id"/>
		<result property="cityId" column="city_id"/>
		<result property="areaId" column="area_id"/>
		<result property="address" column="address"/>
		<result property="detailUrl" column="detail_url"/>
		<result property="tags" column="tags"/>
		<result property="joinedNum" column="joined_num"/>
		<result property="commentNum" column="comment_num"/>
		<result property="ticketsNum" column="tickets_num"/>
		<result property="collectNum" column="collect_num"/>
		<result property="activityStatus" column="activity_status"/>
		<result property="needAudit" column="need_audit"/>
		<result property="phone" column="phone"/>
		<result property="description" column="description"/>
		<result property="pictures" column="pictures"/>
		<result property="email" column="email"/>
		<result property="catId1" column="catId1"/>
		<result property="catId2" column="catId2"/>
		<result property="longtitude" column="longtitude"/>
		<result property="latitude" column="latitude"/>
		<result property="activityType" column="activity_type"/>
		<result property="organizerId" column="organizer_id"/>
		<result property="free" column="free"/>
	</resultMap>
	
	<!-- 添加活动 -->
	<insert id="insert" parameterType="activity"
		useGeneratedKeys="true" keyProperty="id">
		INSERT INTO
		ac_activity(
		created_time,updated_time,title,start_time,
		end_time,province_id,city_id,area_id,
		address,detail_url,tags,joined_num,
		comment_num,tickets_num,collect_num,activity_status,
		need_audit,phone,description,pictures,
		email,catId1,catId2,longtitude,
		latitude,activity_type,organizer_id,free
		)values (
		#{createdTime},#{updatedTime},#{title},#{startTime},
		#{endTime},#{provinceId},#{cityId},#{areaId},
		#{address},#{detailUrl},#{tags},#{joinedNum},
		#{commentNum},#{ticketsNum},#{collectNum},#{activityStatus},
		#{needAudit},#{phone},#{description},#{pictures},
		#{email},#{catId1},#{catId2},#{longtitude},
		#{latitude},#{activityType},#{organizerId},#{free}
		)
	</insert>
	
	<!-- 删除活动 -->
	<delete id="deleteById" parameterType="long">
	delete from ac_activity
	where
	id = #{id}
	</delete>
	
	<!-- 获取活动 -->
	<select id="getById" resultMap="ACTIVITY_MAP"
		parameterType="long">
		SELECT *
		FROM ac_activity
		WHERE id = #{id}
	</select>
	
	<!-- 分页获取某人发布的活动 -->
	
	<select id="getUserCreatedActByOffset" resultMap="ACTIVITY_MAP">
		SELECT *
		FROM ac_activity
		where organizer_id = #{userId} 
		order by created_time desc
	    limit #{offset},#{pageSize}
	</select>
	<select id="getUserCreatedActByUntilId" resultMap="ACTIVITY_MAP">
		SELECT *
		FROM ac_activity
		where organizer_id = #{userId} and id &gt; #{untilId} 
	    limit #{pageSize}
	</select>
	
	<!-- 统计某人发布的活动数 -->
	<select id="getUserCreatedActNum" parameterType="long" resultType="int">
	select count(id)
	from ac_activity
	where organizer_id = #{userId}
	</select>
	
</mapper>
