<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Copyright 2009-2012 the original author or authors. Licensed under the 
	Apache License, Version 2.0 (the "License"); you may not use this file except 
	in compliance with the License. You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0 
	Unless required by applicable law or agreed to in writing, software distributed 
	under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES 
	OR CONDITIONS OF ANY KIND, either express or implied. See the License for 
	the specific language governing permissions and limitations under the License. -->

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.galaxy.dal.letter.mapper.LetterMapper">

	<resultMap type="letter" id="LETTER_MAP">
		<id property="id" column="id" />
		<result property="createdTime" column="created_time" />
		<result property="updatedTime" column="updated_time" />
		<result property="fromUserId" column="from_user_id" />
		<result property="toUserId" column="to_user_id" />
		<result property="readFlag" column="read_flag" />
	</resultMap>
	<select id="getById" resultMap="LETTER_MAP" parameterType="long">
		SELECT *
		FROM u_letter
		WHERE id = #{id}
	</select>
	<select id="getToUserLetters" resultMap="LETTER_MAP">
		SELECT *
		FROM u_letter
		WHERE to_user_id = #{toUserId}
		limit #{size}
	</select>
	<select id="getToUserLettersUtil" resultMap="LETTER_MAP">
		SELECT *
		FROM u_letter
		WHERE to_user_id = #{toUserId} and
		id>#{letterId}
		limit #{size}
	</select>
	<select id="getFromUserLetters" resultMap="LETTER_MAP">
		SELECT *
		FROM u_letter
		WHERE from_user_id = #{fromUserId}
	</select>
	<!-- private String loginName,sex,birthday,type,nick,followers,fans,realName,email,mobile,password,realNameAuth,emailAuth,mobileAuth,hasPic,avatar,bindOpenId,bindPlatform,lastVisitTime,status; -->
	<insert id="insert" parameterType="letter" useGeneratedKeys="true"
		keyProperty="id">
		INSERT INTO
		u_letter(created_time,from_user_id,to_user_id,type,ip,content,read_flag,reply,status)
		VALUES(#{createdTime},#{fromUserId},#{toUserId},#{type},#{ip},#{content},#{readFlag},#{reply},#{status})
	</insert>
</mapper>
