<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Copyright 2009-2012 the original author or authors. Licensed under the 
	Apache License, Version 2.0 (the "License"); you may not use this file except 
	in compliance with the License. You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0 
	Unless required by applicable law or agreed to in writing, software distributed 
	under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES 
	OR CONDITIONS OF ANY KIND, either express or implied. See the License for 
	the specific language governing permissions and limitations under the License. -->

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.galaxy.dal.category.mapper.CategoryMapper">

	<resultMap type="category" id="CATEGORY_MAP">
	<result property="id" column="id"/>
	<result property="createdTime" column="created_time"/>
	<result property="updatedTime" column="updated_time"/>
	<result property="nameEn" column="name_en"/>
	<result property="nameCh" column="name_ch"/>
	<result property="parentId" column="parent_id"/>
	<result property="path" column="path"/>
	<result property="coverUrl" column="cover_url"/>
	<result property="description" column="description"/>
	
	</resultMap>

	<select id="getCategories" resultMap="CATEGORY_MAP">
		SELECT *
		FROM cat_category
		where parent_id = #{parent_id}
	</select>
	
	<insert id="insert" parameterType="category" keyColumn="id" useGeneratedKeys="true">
	insert into
	cat_category(created_time,updated_time,name_en,name_ch,parent_id,path,cover_url,description)
	values(#{createdTime},#{updatedTime},#{nameEn},#{nameCh},#{parentId},#{path},#{coverUrl},#{description})
	</insert>
	
	<update id="update" parameterType="category">
	update cat_category
	set updated_time = #{updatedTime},name_en = #{nameEn},
	name_ch = #{nameCh},parent_id = #{parentId},path = #{path},
	cover_url = #{coverUrl},description = #{description}
	where id = #{id}
	</update>
	
	<delete id="deleteById">
	delete from cat_category
	where id = #{id}
	</delete>
	
	<select id="getAllCategory" resultMap="CATEGORY_MAP">
	select *
	from cat_category
	</select>
	<select id="getChildrenCategory" parameterType="long" resultMap="CATEGORY_MAP">
	select *
	from cat_category
	where parent_id = #{parentId}
	</select>

</mapper>
