<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Copyright 2009-2012 the original author or authors. Licensed under the 
	Apache License, Version 2.0 (the "License"); you may not use this file except 
	in compliance with the License. You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0 
	Unless required by applicable law or agreed to in writing, software distributed 
	under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES 
	OR CONDITIONS OF ANY KIND, either express or implied. See the License for 
	the specific language governing permissions and limitations under the License. -->

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.galaxy.dal.category.mapper.CategoryMapper">

	<resultMap type="category" id="CATEGORY_MAP">
	<result property="id" column="id"/>
	<result property="createdTime" column="created_time"/>
	<result property="updatedTime" column="updated_time"/>
	
	</resultMap>

	<select id="getCategories" resultMap="CATEGORY_MAP">
		SELECT *
		FROM cat_category1
		where
		level = #{level} and parent_id = #{parent_id}
		order by seq
	</select>

</mapper>
