@charset "utf-8";
/**
 * 初始化HTML标签及常用类型
 * @kivenhan
 * www.shopnc.net
 * Apr-01-2012
 **/

/* ===============
 * 重新定义Html元素
 * =============== */
html, body, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, fieldset, input {
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, pre, code, address, caption, cite, code, em, strong, table, th, td {
	font-size: 1em;
	font-style: normal;
	font-weight: normal;
}
strong {
	font-weight: bold;
}
ul, ol {
	list-style: none outside none;
}
fieldset, img {
	border: medium none;
}
caption, th {
	text-align: left;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
	background: #fff;
	/*	background: url(../images/lsimg/body_bg.png) repeat fixed;*/
	color: #333333;
	font: 12px/1 "Microsoft YaHei", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Helvetica, Arial, sans-serif;
}
input, select, textarea {
	/*font: 0px/1 Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;*/
}
a {
	outline: medium none;
}
a:link, a:visited, a:active {
	text-decoration: none;
}
a:active{ background-color:none;  }
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
i, cite, em {
	font-style: normal;
}
html {
	min-height: 101%;
}
.fl {
	display: inline;
	float: left;
}
.fr {
	display: inline;
	float: right;
}
/* Clearfix,避免因子元素浮动而导致的父元素高度缺失能问题 */
.clearfix:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	line-height: 0;
	visibility: hidden;
}
html[xmlns] .clearfix {
	display: block;
}
/**html .clearfix {
	height: 1%;
}
*+html .clearfix {
	height: 1%;
}*/
time {
	color: #777;
}
/* ==========================
 * 为旧版本浏览器格式化Html5元素
 * ========================== */
article, aside, dialog, footer, header, section, footer, nav, figure, menu {
	display: block;
}
/*文字排版
******************************/
.f12 {
	font-size: 12px;
}
.f13 {
	font-size: 13px;
}
.f14 {
	font-size: 14px;
}
.f16 {
	font-size: 16px;
}
.f20 {
	font-size: 20px;
}
.fb {
	font-weight: bold;
}
.fn {
	font-weight: normal;
}
.t2 {
	text-indent: 2em;
}
.lh150 {
	line-height: 150%
}
.lh180 {
	line-height: 180%
}
.lh200 {
	line-height: 200%
}
.unl {
	text-decoration: underline;
}
.no_unl {
	text-decoration: none;
}
.noborder {
	border-style: none!important;
	border-width: 0!important;
}
/*定位 
******************************/
.tl {
	text-align: left !important;
}
.tc {
	text-align: center !important;
}
.tr {
	text-align: right !important;
}
.bc {
	margin-right: auto;
	margin-left: auto;
}
.fl {
	float: left;
	display: inline;
}
.fr {
	float: right !important;
	display: inline;
}
.cb {
	clear: both;
}
.cl {
	clear: left;
}
.cr {
	clear: right;
}
.vm {
	vertical-align: middle;
}
.vt {
	vertical-align: top;
}
.pr {
	position: relative;
}
.pa {
	position: absolute;
}
.abs-right {
	position: absolute;
	right: 0;
}
.zoom {
	zoom: 1
}
/*.hidden { visibility:hidden;}*/
.none {
	display: none;
}
.clear {
	clear: both;
	height: 0;
	font-size: 0;
	line-height: 0;
}
/*长度高度
******************************/
.w10 {
	width: 10px;
}
.w20 {
	width: 20px;
}
.w30 {
	width: 30px;
}
.w40 {
	width: 40px !important;
}
.w50 {
	width: 50px !important;
}
.w60 {
	width: 60px !important;
}
.w65 {
	width: 65px;
}
.w70 {
	width: 70px;
}
.w80 {
	width: 80px;
}
.w90 {
	width: 90px;
}
.w96 {
	width: 96px;
}
.w100 {
	width: 100px;
}
.w110 {
	width: 110px;
}
.w120 {
	width: 120px;
}
.w150 {
	width: 150px;
}
.w160 {
	width: 160px;
}
.w180 {
	width: 180px;
}
.w200 {
	width: 200px !important;
}
.w210 {
	width: 210px !important;
	;
}
.w230 {
	width: 230px;
}
.w240 {
	width: 240px;
}
.w250 {
	width: 250px !important;
}
.w270 {
	width: 270px;
}
.w300 {
	width: 300px !important;
}
.w340 {
	width: 340px;
}
.w380 {
	width: 380px;
}
.w400 {
	width: 400px!important;
}
.w450 {
	width: 450px!important;
}
.w500 {
	width: 500px;
}
.w530 {
	width: 530px;
}
.w600 {
	width: 600px !important;
}
.w700 {
	width: 700px;
}
.w780 {
	width: 780px;
}
.w800 {
	width: 800px;
}
.w208 {
	width: 208px;
}
.w {
	width: 100%
}
.h50 {
	height: 50px !important;
}
.h80 {
	height: 80px;
}
.h100 {
	height: 100px !important;
}
.h200 {
	height: 200px;
}
.h {
	height: 100%
}
.size30 {
	width: 30px;
	height: 30px;
}
.size32 {
	width: 32px;
	height: 32px;
}
.size40 {
	width: 40px;
	height: 40px;
}
.size60 {
	width: 60px;
	height: 60px;
}
.size70 {
	width: 70px;
	height: 70px;
}
.size72 {
	width: 72px;
	height: 72px;
}
.size75 {
	width: 75px;
	height: 75px;
}
.size80 {
	width: 80px;
	height: 80px;
}
.size90 {
	width: 90px;
	height: 90px;
}
.size100 {
	width: 100px;
	height: 100px;
}
.size110 {
	width: 110px;
	height: 110px;
}
.size120 {
	width: 120px;
	height: 120px;
}
.size128 {
	width: 128px;
	height: 128px;
}
.size142-80 {
	width: 142px;
	height: 80px;
}
.size160 {
	width: 160px;
	height: 160px;
}
.size160-48 {
	width: 160px;
	height: 48px;
}
.size150 {
	width: 150px;
	height: 150px;
}
.size160 {
	width: 160px;
	height: 160px;
}
.size184 {
	width: 184px;
	height: 114px;
}
.size190 {
	width: 190px;
	height: 190px;
}
.size196 {
	width: 196px;
	height: 196px;
}
.size233 {
	width: 233px;
}
.size250 {
	width: 250px;
	height: 250px;
}
.size310 {
	width: 310px;
	height: 310px;
}
.size-brand-logo {
	width: 88px;
	height: 42px;
}
/*边距
******************************/
.m10 {
	margin: 10px;
}
.m15 {
	margin: 15px;
}
.m30 {
	margin: 30px;
}
.mt5 {
	margin-top: 5px;
}
.mt10 {
	margin-top: 10px !important;
}
.mt15 {
	margin-top: 15px;
}
.mt20 {
	margin-top: 20px !important;
}
.mt30 {
	margin-top: 30px !important;
}
.mt50 {
	margin-top: 50px !important;
}
.mt100 {
	margin-top: 100px;
}
.mb5 {
	margin-bottom: 5px;
}
.mb7 {
	margin-bottom: 7px;
}
.mb10 {
	margin-bottom: 10px !important;
}

.mb15 {
	margin-bottom: 15px;
}
.mb20 {
	margin-bottom: 20px;
}
.mb30 {
	margin-bottom: 30px;
}
.mb50 {
	margin-bottom: 50px;
}
.mb100 {
	margin-bottom: 100px;
}
.ml5 {
	margin-left: 5px;
}
.ml10 {
	margin-left: 10px;
}
.ml15 {
	margin-left: 15px;
}
.ml12{
	margin-left: 12px;
}
.ml20 {
	margin-left: 20px;
}
.ml30 {
	margin-left: 30px;
}
.ml50 {
	margin-left: 50px;
}
.ml100 {
	margin-left: 100px !important;
}
.ml200 {
	margin-left: 200px !important;
}
.mr5 {
	margin-right: 5px;
}
.mr10 {
	margin-right: 10px;
}
.mr15 {
	margin-right: 15px !important;
}
.mr20 {
	margin-right: 20px;
}
.mr30 {
	margin-right: 30px !important;
}
.mr50 {
	margin-right: 50px !important;
}
.mr100 {
	margin-right: 100px;
}
/*边距
******************************/
.p10 {
	padding: 10px;
}
.p15 {
	padding: 15px;
}
.p30 {
	padding: 30px;
}
.pt5 {
	padding-top: 5px;
}
.pt10 {
	padding-top: 10px;
}
.pt15 {
	padding-top: 15px;
}
.pt20 {
	padding-top: 20px;
}
.pt30 {
	padding-top: 30px;
}
.pt50 {
	padding-top: 50px;
}
.pt100 {
	padding-top: 100px;
}
.pb5 {
	padding-bottom: 5px;
}
.pb10 {
	padding-bottom: 10px;
}
.pb15 {
	padding-bottom: 15px;
}
.pb20 {
	padding-bottom: 20px !important;
}
.pb30 {
	padding-bottom: 30px;
}
.pb50 {
	padding-bottom: 50px;
}
.pb100 {
	padding-bottom: 100px;
}
.pl5 {
	padding-left: 5px;
}
.pl10 {
	padding-left: 10px;
}
.pl15 {
	padding-left: 15px;
}
.pl20 {
	padding-left: 20px;
}
.pl30 {
	padding-left: 30px;
}
.pl50 {
	padding-left: 50px;
}
.pl100 {
	padding-left: 100px;
}
.pr5 {
	padding-right: 5px;
}
.pr10 {
	padding-right: 10px;
}
.pr15 {
	padding-right: 15px;
}
.pr20 {
	padding-right: 20px;
}
.pr30 {
	padding-right: 30px;
}
.pr50 {
	padding-right: 50px;
}
.pr100 {
	padding-right: 100px;
}
/*div宽高局中
******************************/
.thumb, .logo {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.thumb i, .logo i {
*display:inline-block;
*height:100%;
*vertical-align:middle;
}
.thumb img, .logo img {
*vertical-align:middle;
}
#page {
	background-color: #F5F5F5;
	width: 100%;
	height: 29px;
	border-bottom: 1px solid #D8D8D8;
}
.warp-all {
	width: 1000px;
	margin: 0 auto;
}
/*==============================*/
/* 顶部导航条样式 */
/*==============================*/
#topNav .user-entry {
	line-height: 20px;
	display: block;
	width: 550px;
	height: 20px;
	float: left;
	padding: 4px 0 5px 0;
	margin: 0;
	overflow: hidden;
}
.user-entry dt {
	color: #555;
	display: block;
	float: left;
	padding: 0 5px;
}
.user-entry dt span {
	font-weight: 600;
	padding: 0 2px;
}
.user-entry dd {
	color: #999;
	display: block;
	float: left;
	padding: 0 4px;
}
.user-entry dd a {
	color: #999;
	padding: 0 2px;
}
#topNav .quick-menu {
	position: absolute;
	top: 4px;
	right: 0px;
}
.quick-menu li {
	background: url(../images/nc_topbar.gif) no-repeat 100% -26px;
	float: left;
	margin-left: -1px;
	position: relative;
	z-index: auto;
}
.quick-menu li.last {
	background: none transparent scroll repeat 0% 0%
}
.quick-menu li a {
	line-height: 18px;
	background-color: transparent;
	padding: 2px 10px 0 10px;
	display: block;
}
.quick-menu .menu {
}
.quick-menu .menu-hd {
	line-height: 18px;
	display: block;
	height: 18px;
	padding: 0px 22px 2px 10px;
	margin: 1px 1px 0 1px;
	position: relative;
	z-index: 10002;
	cursor: pointer;
}
.quick-menu .menu-hd i {
	font-size: 0px;
	line-height: 0;
	width: 0px;
	height: 0px;
	border-width: 4px;
	border-color: #333 transparent transparent transparent;
	border-style: solid dashed dashed dashed;
	position: absolute;
	top: 9px;
	right: 10px;
	-webkit-transition: .2s ease-in;
	-moz-transition: -webkit-transform .2s ease-in;
	-o-transition: -webkit-transform .2s ease-in;
	transition: .2s ease-in;
}
.quick-menu .menu:hover .menu-hd {
	background: #FFF;
	margin: 0px;
	border: #CCC 1px solid;
	border-bottom-style: none;
}
.quick-menu .menu:hover .menu-hd i {
	top: 7px;
FILTER: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
	-moz-transform: rotate(180deg);
	-moz-transform-origin: 50% 30%;
	-webkit-transform: rotate(180deg);
	-webkit-transform-origin: 50% 30%;
	-o-transform: rotate(180deg);
	-o-transform-origin: 50% 30%;
	transform: rotate(180deg);
	transform-origin: 50% 30%;
}
.quick-menu .menu-bd {
	background: #fff;
	display: none;
	border: #CCC 1px solid;
	position: absolute;
	z-index: 10001;
	top: 21px;
	overflow: hidden;
	zoom: 1;
}
.quick-menu .menu-bd .loading {
	margin: 10px auto 10px 48%;
}
.quick-menu .menu:hover .menu-bd {
	display: block;
}
.quick-menu .user-center .menu-hd {
	width: 48px;
	padding-top: 1px;
	_padding-top: 1px;
}
.quick-menu .user-center .menu-bd {
	width: 92px;
	right: 0px;
}
.quick-menu .user-center ul {
	padding: 8px;
	float: left;
}
.quick-menu .user-center ul li {
	background-image: none;
}
.quick-menu .user-center ul li a {
	background-image: none;
	line-height: 20px;
	width: 76px;
	height: 20px;
	float: left;
	clear: both;
	padding: 0 0 2px 0;
	margin: 0;
}
.quick-menu .seller-center .menu-hd {
	width: 48px;
	padding-top: 1px;
	_padding-top: 1px;
}
.quick-menu .seller-center .menu-bd {
	width: 92px;
	right: 0px;
}
.quick-menu .seller-center ul {
	padding: 8px;
	float: left;
}
.quick-menu .seller-center ul li {
	background-image: none;
}
.quick-menu .seller-center ul li a {
	line-height: 20px;
	background-image: none;
	width: 76px;
	height: 20px;
	float: left;
	clear: both;
	padding: 0 0 2px 0;
	margin: 0;
}
.quick-menu .cart .menu-hd {
	color: #60332c;
	width: 90px;
	padding-top: 1px;
	_padding-top: 1px;
	padding-left: 25px;
}
.quick-menu .cart .menu-hd s {
	background: url(../images/nc_topbar.gif) no-repeat scroll 0px 0px;
	width: 12px;
	height: 12px;
	position: absolute;
	top: 5px;
*top: 4px;
	left: 7px;
}
.quick-menu .cart .menu-hd strong {
	font-weight: 600;
	color: #F60;
	padding: 0 3px;
}
.quick-menu .cart .menu:hover .menu-hd {
	color: #F30;
	text-decoration: underline;
}
.quick-menu .cart .menu-bd {
	width: 370px;
	left: 0px;
}
.quick-menu .cart .order a {
	padding: 0;
}
.quick-menu .cart .order table {
	width: 354px;
	padding: 0;
	margin: 0;
}
.quick-menu .cart .order td {
	padding: 5px;
	border-bottom: solid 1px #F1F1F1;
}
.quick-menu .cart .order td.picture {
	height: 40px;
	width: 40px;
	float: left;
}
.quick-menu .cart .order td.name {
	line-height: 18px;
	width: 200px;
	height: 36;
	padding: 5px 5px 9px 5px;
}
.quick-menu .cart .order td.price {
	height: 40px;
	width: 84px;
}
.quick-menu .cart .order td.price p {
	line-height: 20px;
	color: #F30;
	height: 20px;
	text-align: right;
}
.quick-menu .cart .order td.no-border {
	border: none;
}
.quick-menu .cart .order td span.all {
	width: 200px;
	float: left;
}
.quick-menu .cart .order td span.all strong {
	font-weight: 600;
	padding: 0 4px;
	color: #F30;
}
.quick-menu .cart .order td span.button a, .quick-menu .cart .no-order .button {
	line-height: 24px;
	color: #FFF;
	background-color: #FE8502;
	text-align: center;
	display: block;
	float: right;
	padding: 0 10px;
	margin: 0px;
	border: solid 1px #ED6002;
	border-radius: 4px;
}
.quick-menu .cart .no-order, .quick-menu .cart .order {
	padding: 8px;
	float: left;
}
.quick-menu .cart .no-order span {
	line-height: 24px;
	color: #999;
	display: block;
	height: 24px;
	float: left;
}
.quick-menu .favorite .menu-hd {
	width: 48px;
	padding-top: 1px;
	_padding-top: 1px;
}
.quick-menu .favorite .menu-bd {
	width: 80px;
	left: 0px;
}
.quick-menu .favorite ul {
	padding: 8px;
	float: left;
}
.quick-menu .favorite ul li {
	background-image: none;
}
.quick-menu .favorite ul li a {
	background-image: none;
	line-height: 20px;
	width: 60px;
	height: 20px;
	float: left;
	clear: both;
	padding: 0 0 2px 0;
	margin: 0;
}
.quick-menu li.links {
	background: url(../images/hbg.png) no-repeat -119px 6px;
}
.quick-menu .links .menu-hd {
	width: 48px;
	padding-top: 1px;
	_padding-top: 1px;
}
.quick-menu .links .menu-db {
	display: block;
}
.quick-menu .links .menu-bd {
	float: left;
	right: 0px;
}
.quick-menu .links .menu-bd ul {
	padding: 8px;
	float: left;
}
.quick-menu .links .menu-bd ul li {
	background-image: none;
}
.quick-menu .links .menu-bd ul li a {
	line-height: 20px;
	background: url(../images/hbg.png) no-repeat 0px -530px;
	white-space: nowrap;
	width: 64px;
	height: 20px;
	clear: left;
	padding: 0 0 2px 12px;
	margin: 0;
	overflow: hidden;
}
.warning {
	color: #C00;
	background-color: #FFC;
	width: 98%;
	clear: both;
	padding: 6px;
	margin: 6px auto;
	border: 1px dashed #F90;
}
.warning label {
	clear: both;
	line-height: 20px;
}
#footer {
	background: #FFFFFF;
	line-height: 20px;
	color: #aaa;
	text-align: center;
	display: block;
	width: 100%;
	padding-bottom: 10px;
	border-top: 1px solid #E9ECEF;
	overflow: hidden;
	float: left;
	margin: 20px auto 0;
}
.footer-box {
	margin: 20px auto 0;
	width: 1000px;
}
#footer p {
	color: #666;
	word-spacing: 5px;
	padding: 10px 0;
}
#footer a {
	color: #666;
	text-decoration: none;
}
#footer a:hover {
	text-decoration: underline;
}
#footer .vol {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	font-style: oblique;
	font-weight: 600;
}
#footer .vol .b {
	color: #0000FF;
}
#footer .vol .o {
	color: #FF6600;
}
#footer .vol em {
	color: #000000;
	font-family: Georgia, Arial;
	font-style: italic;
	font-weight: 600;
	margin-left: 2px;
}
/* tip提示 */
.tip-yellowsimple {
	color: #000;
	background-color: #fff9c9;
	text-align: left;
	min-width: 50px;
	max-width: 300px;
	border: 1px solid #c7bf93;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	z-index: 1000;
	padding: 6px 8px;
}
.tip-yellowsimple .tip-inner {
	font: 12px/16px arial, helvetica, sans-serif;
}
.tip-yellowsimple .tip-arrow-top {
	background: url(../images/tip-yellowsimple_arrows.gif) no-repeat;
	width: 9px;
	height: 6px;
	margin-top: -6px;
	margin-left: -5px;
	top: 0;
	left: 50%;
}
.tip-yellowsimple .tip-arrow-right {
	background: url(../images/tip-yellowsimple_arrows.gif) no-repeat -9px 0;
	width: 6px;
	height: 9px;
	margin-top: -4px;
	margin-left: 0;
	top: 50%;
	left: 100%;
}
.tip-yellowsimple .tip-arrow-bottom {
	background: url(../images/tip-yellowsimple_arrows.gif) no-repeat -18px 0;
	width: 9px;
	height: 6px;
	margin-top: 0;
	margin-left: -5px;
	top: 100%;
	left: 50%;
}
.tip-yellowsimple .tip-arrow-left {
	background: url(../images/tip-yellowsimple_arrows.gif) no-repeat -27px 0;
	width: 6px;
	height: 9px;
	margin-top: -4px;
	margin-left: -6px;
	top: 50%;
	left: 0;
}
/* 调试模式 */
.trace {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000;
	line-height: 18px;
	background: #FFF299;
	padding: 8px;
	margin: 8px;
	border: 1px dashed silver;
}
.trace fieldset {
	margin: 8px;
}
.trace fieldset legend {
	font-size: 16px;
	color: #000;
	font-weight: bold;
}
.trace fieldset div {
	overflow: auto;
	max-height: 300px;
	_height: 300px;
	text-align: left;
}
/* CSS Document */
#header {
	margin: 0 auto;
}
#logo {
	width: 205px;
	height: 70px;
	margin-top: 25px;
	float: left;
}
#logo img {
	float: left;
}
<!--
#logo .nc—city-info {
	float: left;
	height: 30px;
	margin: 20px 0 0 20px;
	width: auto;
}
#logo .nc—city-info h2 {
	color: #a2a2a2;
	font: 22px/24px 'Microsoft Yahei', '黑体', '宋体';
	height: 30px;
	float: left;
	white-space: nowrap;
}
#logo .nc—city-info a.ncchange-city {
	color: #e64d5e;
	font-size: 12px;
	line-height: 40px;
	margin-left: 5px;
}
#logo a:hover i {
	color: #FF7B33;
	text-decoration: none;
}
#header-top {
	border-bottom: 1px solid #CCC;
	height: 30px;
	margin-bottom: 3px;
	background-color: #f5f5f5;
}
#header-bottom {
	background-color: #ffffff;
	height: 112px;
}
#header-bottom-con {
	width: 990px;
	margin: 0 auto;
}
#header-bottom-new {
	width: 1200px;
	margin: 0 auto;
}
#gdjx {
	float: left;
	margin-top: 15px;
	margin-left: 9px;
}
/*搜索*/
/*#search-box { width:548px; height:28px; float:right; margin-top:20px; border:1px solid #999; }*/
#search-box {
	float: left;
	margin: 26px 0 0 85px;
	width: 593px;
	position: relative; z-index:11;
}
/*#search-box ul.tab {
	height: 23px;
	overflow: hidden;
	top: 10px;
	width: 478px;
}
#search-box ul.tab li {
	display: inline-block;
	float: left;
	line-height: 16px;
	margin-right: 10px;
	font-family: "微软雅黑", "宋体";
	color: #666;
	cursor: pointer;
}
#search-box ul.tab li.current {
	color: #E64D5E;
}*/

#search-box .tab {
	position: relative;
	float: left;
	width: 63px;
	height: 40px;
	border: 3px solid #e64d5e;
	border-right: 0
}
.tri {
	position: absolute;
	height: 0;
	width: 0;
	line-height: 0;
	font-size: 0;
	border: 3px dashed transparent
}
#search-box .tab .tri {
	top: 19px;
	right: 8px;
	border-top: 3px solid #e64d5e;
	z-index: 10;
}
#search-box .tab_over .tri {
	top: 15px;
	border-top: 3px dashed transparent;
	border-bottom: 3px solid #e64d5e;
}
#search-box .tab_over .search_tabs {
	overflow: visible;
	height: auto;
	border: 1px solid #DDD;
	border-top: 0
}
#search-box .tab_over .search_tab {
	padding-left: 13px
}
#search-box .tab .search__tabs {
	overflow: visible;
	height: auto;
	border: 1px solid #DDD;
	border-top: 0
}
#search-box .tab .search__tab {
	padding-left: 13px
}
.search_tabs {
	position: absolute;
	top: 0;
	left: 0;
	height: 40px;
	overflow: hidden;
	border-right: 1px solid #DDD;
	background: #FFF;
	z-index: 9
}
.search_tab {
	padding: 3px 20px 3px 14px;
	line-height: 34px;
	font-size: 14px;
	color: #666;
	cursor: pointer
}
.search_tab:hover {
	background:#f8f8f8;
}
.search_tab_current {
	background: #fafafa
}
.search-box-from {
	width: 435px;
}
.search-box-from {
	float: left;
	margin: 0;
	padding: 8px 5px;
	border: 3px solid #e64d5e;
	border-right: 0;
	border-left: 0;
	border-radius: 0;
	height: 24px;
	line-height: 24px
}
.search-box-from:focus {
	outline: 0;
	background: #FFF;
	-moz-box-shadow: inset 0 0 8px rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 0 0 8px rgba(0,0,0,0.1);
	box-shadow: inset 0 0 8px rgba(0,0,0,0.1);
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	transition: all .2s linear
}
/*.search-box-from .placeholder label {
	color: #CCCCCC;
	cursor: text;
	display: inline-block;
	height: 28px;
	left: 5px;
	line-height: 28px;
	padding-left: 10px;
	position: absolute;
	top: 2px;
	width: 133px;
}
.search-box-from .placeholder input {
	height: 40px;
	line-height: 40px;
	padding: 0 5px;
	width: 400px;
}*/
.nc-search-input {
	background: none;
	border: 0 none;
	height: 29px;
	line-height: 29px;
	padding-left: 10px;
	width: 425px;
}
.search_button {
	float: left;
	width: 82px;
	margin: 0;
	height: 46px;
	line-height: 46px;
	border: 0;
	color: #FFF;
	background: #e64d5e;
	cursor: pointer;
	-webkit-appearance: none;
	border-radius: 0;
	font-size: 16px;
	font-family: "Microsoft YaHei";
}
.search_button:hover {
	background: #dc2c40;
	-webkit-transition: background .2s;
	-moz-transition: background .2s;
	transition: background .2s
}
.search_hot {
	float: left;
	font-size: 12px;
	margin-top: 2px; width:450px;
}
.search_hot .search_hot_list {
	height: 22px;
	line-height: 22px;
	overflow: hidden;
}
.search_hot a {
	padding: 0 10px;
	border-right: 0;
	height: 18px;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 72px;
	_width: 62px;
	overflow: hidden;
	color: #666;
	display: inline-block;
	text-align: center;
*zoom:1
}
.search_hot .hot_link {
	padding-left: 0;
}
.search_hot a:hover {
	color: #dc2c40;
}
/*.search-box-from a {
	background: url(../images/lsimg/nc_search_btn.gif) no-repeat 0 0;
	height: 40px;
	position: absolute;
	right: 0;
	top: -1px;
	width: 83px;
}
.search-box-from a:hover {
	background: url(../images/lsimg/nc_search_btn.gif) no-repeat 0 -48px;
}*/
/*form {
	float: left;
}*/
/*top-icon*/
.site-commitment {
	float: right;
	margin-top: 26px;
	background-image: url(../images/lsimg/header-icon.png);
	background-repeat: no-repeat;
	background-position: 0, 1px
}
.commitment-item {
	float: left;
	display: block;
	width: 69px;
	height: 46px;
	background-position: -164px 1px
}
.commitment-item-retire {
	background-position: 0 0
}
.commitment-item-free {
	background-position: -69px
}
.commitment-item-expire {
	width: 70px;
	background-position: -138px;
	border-right: 0
}
#ts-keyword {
	width: 341px;
	height: 24px;
	border: 1px solid #FFF;
}
#submit-search-form {
	float: left;
	height: 30px;
	text-decoration: none;
	font-weight: 900;
	color: #FFF;
	line-height: 32px;
	margin-left: 28px;
}
#search-city {
	float: left;
	width: 114px;
	background-image: url(images/search.png);
	background-repeat: no-repeat;
	margin-top: -2px;
	margin-right: -1px;
}
#header-menu {
	height: 36px;
	border: 1px solid #FFF;
	background-image: url(images/00_17.gif);
	background-repeat: repeat-x;
	padding-left: 180px;
}
#header-menu ul li {
	list-style: none;
	float: left;
	line-height: 34px;
	height: 36px;
	margin-top: -15px;
}
#header-menu ul li a:hover {
	color: blue;
}
.item a {
	text-decoration: none;
	color: #FFF;
	font-weight: 800;
}
.nav-zhaoshang {
	text-decoration: none;
	color: #FFF;
	font-weight: 800;
	width: 100px;
	line-height: 6px;
	margin-left: 285px;
}
#J_Nav_index {
	width: 65px;
	padding-left: 23px;
}
#J_Nav_shanghu {
	width: 90px;
	padding-left: 25px;
}
#J_Nav_shangcheng {
	width: 90px;
	padding-left: 25px;
}
#J_Nav_quan {
	width: 75px;
	padding-left: 22px;
}
#J_Nav_tuan {
	width: 75px;
	padding-left: 22px;
}
#J_Nav_shequ {
	width: 100px;
	padding-left: 23px;
}
#header-bac {
	background-image: url(images/00_20.png);
	background-repeat: repeat-x;
	height: 320px;
	margin: 0 auto;
}
#header-conta {
	width: 1000px;
	height: 320px;
	position: relative;
	top: 10px;
	margin: 0 auto;
}
#header-bac-left {
	position: absolute;
	top: -5px;
	left: -1px;
	width: 220px;
	height: 301px;
}
#header-bac-con {
	width: 510px;
	height: 301px;
	position: absolute;
	top: 170px;
	left: 440px;
}
#header-bac-right {
	width: 264px;
	height: 310px;
	position: absolute;
	top: 170px;
	left: 958px;
}
#header-hac-rtl {
	width: 102px;
	height: 90px;
	float: left;
}
#header-hac-rtc {
	width: 95px;
	height: 87px;
	float: left;
}
#header-hac-rtr {
	width: 63px;
	height: 75px;
	float: right;
	padding-top: 15px;
}
#header-hac-rtct {
	width: 100px;
	height: 45px;
	background-color: #FFF;
	margin-top: 21px;
	padding-top: 10px;
}
#header-hac-rtct p {
	font-size: 15px;
	color: #333;
	font-weight: 900;
	position: relative;
	top: -10px;
}
#header-hac-rtcb {
	position: relative;
	top: -18px;
	left: 2px;
}
#header-hac-rt {
	width: 264px;
	height: 75px;
}
#header-hac-rb {
	width: 255px;
	height: 235px;
	background-color: #FFF;
	margin: 0 auto;
	padding: 0;
}
.main {
	width: 206px;
	margin-left: 2px;
}
b.rounder {
	display: block;
	background: #ccccff
}
b.rounder b {
	display: block;
	height: 1px;
	overflow: hidden;
	background: #fff;
}
b.r1 {
	margin: 0 1px
}
b.r2 {
	margin: 0 2px
}
.content {
	height: 295px;
	text-align: center;
	background: #fff;
	color: #fff;
	font-size: 14px;
	color: #666;
}
.content p {
	color: #666;
}
#lanse {
	margin-top: 0px;
}
.kuang {
	width: 100px;
	height: 55px;
	border-bottom: #CCC 1px solid;
	border-right: #CCC 1px solid;
	padding-top: 5px;
}
.kuang1 {
	width: 100px;
	height: 30px;
	border-bottom: #CCC 1px solid;
	border-right: #CCC 1px solid;
	padding-top: 10px;
}
.kuang2 {
	width: 100px;
	height: 30px;
	border-bottom: #CCC 1px solid;
	padding-top: 5px;
}
#header-bac-left {
	width: 219px;
	height: 301px;
	background: url(images/bg.jpg) repeat;
	margin: 0 auto;
	padding-top: 5px;
}
.water {
	padding-left: 24px;
}
.kuang3 img {
	position: absolute;
	top: 260px;
	left: 40px;
}
.kuang3 p {
	margin-left: 65px;
	margin-top: 23px;
}
#main {
	width: 1000px;
	height: 965px;
	border: 1px solid blue;
	margin: 0 auto;
}
.catelog-two s {
	background: url("http://img01.taobaocdn.com/tps/i1/T1iaMqXk8XXXbQHuER-80-420.png") no-repeat;
}
.catelog-icon-1 s {
	background-position: 0 0;
}
.catelog-icon-2 s {
	background-position: 0 -70px;
}
.catelog-icon-3 s {
	background-position: 0 -140px;
}
.catelog-icon-4 s {
	background-position: 0 -210px;
}
.catelog-icon-5 s {
	background-position: 0 -280px;
}
.catelog-icon-6 s {
	background-position: 0 -350px;
}
.catelog-box {
	margin-left: -50px;
}
.catelog-bd {
	width: 1000px;
	height: 150px;
	background-color: #ffffff;
}
.floor-catelog ul li {
	list-style: none;
}
.floor-catelog a:link {
	text-decoration: none;
	color: #666;
}
.floor-catelog {
	width: 1000px;
	height: 270px;
}
.catelog-three-list li {
	float: left;
	width: 50px;
	height: 16px;
	padding: 5px;
	position: relative;
	left: -18px;
	top: 10px;
}
.catelog-three-list {
	width: 120px;
	height: 140px;
	overflow: hidden;
	border: 1px solid #e6e6e6;
	border-top: 0px solid #ffffff;
	float: left;
	font-size: 12px;
	margin-top: 86px;
}
.header-more {
	position: relative;
	left: 955px;
	top: -30px;
	font-size: 12px;
}
#catelog-bg-img p {
	float: left;
}
#img1 {
	float: left;
	width: 164px;
	height: 80px;
	border: 1px solid #e6e6e6;
	border-top: 2px solid #e6e6e6;
	text-align: center;
}
#catelog-bg-img {
	width: 1000px;
	height: 75px;
	background-color: #f7f7f7;
	position: absolute;
	top: 530px;
}
#main_con {
	width: 1000px;
	height: 190px;
	border: 1px solid black;
}
#main-con-top {
	width: 1000px;
	height: 40px;
}
#line-top-bottom {
	position: relative;
	top: -66px;
	left: 94px;
	font-size: 12px;
	color: #999;
}
.huiquan-catelog {
	float: left;
	position: relative;
	top: -96px;
	left: 620px;
	font-size: 12px;
	width: 70px;
}
.huiquan-sub {
	margin-left: 7px;
}
#hot {
	position: relative;
	bottom: 25px;
	top: -25px;
	border-bottom: 1px solid #e6e6e6;
}
.more2 {
	width: 40px;
	position: relative;
	top: -80px;
	color: #999;
}
#main-con-bottom {
	width: 1000px;
	height: 256px;
	border: 1px solid #e6e6e6;
	border-top: 0px solid #FFF;
	padding-top: 20px;
}
.maincb1 {
	width: 220px;
	height: 290px;
	float: left;
	position: relative;
	top: -78px;
	left: -318px;
}
.maincb2 {
	width: 225px;
	height: 290px;
	float: left;
	position: relative;
	top: -78px;
	left: -320px;
}
.maincb3 {
	width: 225px;
	height: 290px;
	float: left;
	position: relative;
	top: -78px;
	left: -33px;
}
.maincb4 {
	width: 230px;
	height: 290px;
	float: left;
	position: relative;
	top: -368px;
	left: 478px;
}
.zzyh-1 {
	width: 100px;
	position: relative;
	top: -120px;
	left: 120px;
	font-size: 12px;
}
.zzyh-2 {
	width: 100px;
	position: relative;
	top: -130px;
	left: 120px;
	font-size: 12px;
	margin-top: 20px;
}
.zzyh-3 {
	width: 100px;
	position: relative;
	top: -145px;
	left: 120px;
	font-size: 12px;
	color: #F60;
	font-family: "楷体", "宋体";
	font-size: 16px;
}
.zzyh-4 {
	position: relative;
	top: -130px;
	left: 1px;
}
.zzyh-5 {
	width: 100px;
	position: relative;
	top: -253px;
	left: 120px;
	font-size: 12px;
}
.zzyh-6 {
	width: 100px;
	position: relative;
	top: -263px;
	left: 120px;
	font-size: 12px;
	margin-top: 20px;
}
.zzyh-7 {
	width: 100px;
	position: relative;
	top: -273px;
	left: 120px;
	font-size: 12px;
	color: #F60;
	font-family: "楷体", "宋体";
	font-size: 16px;
}
.live {
	position: relative;
	top: -53px;
	left: -230px;
}
.more3 {
	width: 40px;
	position: relative;
	top: -305px;
	color: #999;
}
#main-bottom {
	width: 1000px;
	height: 343px;
}
#main-b-t {
	width: 1000px;
	height: 43px;
	border: 1px solid #FFF;
	border-bottom: 1px solid #e6e6e6;
}
#main-b-b {
	width: 1000px;
	height: 290px;
	border: 1px solid #e6e6e6;
}
#mainbb1 {
	width: 220px;
	height: 300px;
	float: left;
	position: relative;
	top: -28px;
	left: -230px;
}
#mainbb2 {
	width: 220px;
	height: 300px;
	float: left;
	position: relative;
	top: -28px;
	left: -228px;
}
#mainbb3 {
	width: 220px;
	height: 300px;
	float: left;
	position: relative;
	top: -28px;
	left: -198px;
}
#mainbb4 {
	width: 220px;
	height: 300px;
	float: left;
	position: relative;
	top: -330px;
	left: 735px;
}
#mainbb1 table tr td {
	border: 1px solid #e6e6e6;
}
#footer-top {
	height: 180px;
	background-color: #f2f2f2;
}
#footer-top1 {
	width: 220px;
	height: 170px;
}
#footertop {
	width: 1000px;
	height: 170px;
	margin: 0 auto;
}
#footer-top1 {
	width: 193px;
	height: 170px;
	float: left;
	margin-left: -10px;
}
#footer-top2 {
	width: 192px;
	height: 170px;
	float: left;
}
#footer-top3 {
	width: 192px;
	height: 170px;
	float: left;
}
#footer-top4 {
	width: 204px;
	height: 110px;
	float: left;
	border-left: 1px solid #e6e6e6;
	border-right: 1px solid #e6e6e6;
}
#footer-top5 {
	width: 195px;
	height: 170px;
	float: left;
	clear: both;
	position: relative;
	top: -300px;
	border-left: 1px solid #e6e6e6;
}
.footertop1-list {
	width: 182px;
	height: 50px;
	overflow: hidden;
	list-style: none;
	margin-top: 2px;
}
.footertop1-list li {
	float: left;
	width: 50px;
	height: 16px;
	padding-left: -25px;
	position: relative;
	left: -35px;
	padding: 3px;
	font-size: 12px;
	color: #666;
}
.footertop3-list {
	list-style: none;
	position: relative;
	left: -30px;
	font-size: 12px;
	color: #666;
}
.businer {
	font-size: 16px;
}
.dowload {
	position: relative;
	top: -84px;
	left: 85px;
}
.erweima {
	position: relative;
	top: -100px;
	left: 85px;
}
.footer-title {
	font-family: "微软雅黑", "宋体";
	font-size: 14px;
}
#tel-select {
	position: relative;
	top: -110px;
	left: 88px;
	font-size: 12px;
	color: #666;
}
.gray {
	color: #B3B3B3;
}
.black {
	color: #333333;
}
/* 城市切换 */
.nc_city_search {
}
.nc_city_nav {
	background: url(../images/city_nav_bg.png) repeat-x 0 0;
	height: 102px;
}
.nc_city_wrap {
	background: url(../images/city_warp.png) no-repeat 0 -1px;
	height: 102px;
	margin: 0 auto;
	position: relative;
	width: 1000px;
}
#nc_city_hot {
	font-size: 16px;
	left: 0;
	position: absolute;
	top: 20px;
}
#nc_city_hot dl dt {
	color: #333333;
	font-weight: 600;
	line-height: 28px;
}
#nc_city_hot dl dd {
	float: left;
	line-height: 28px;
	margin-right: 13px;
}
#nc_city_hot dl dd a {
	color: #333333;
	text-decoration: none;
}
.nc_city_cont {
	margin: 10px auto;
	width: 1000px;
	background: #FFF;
	border: 1px solid #D4D4D4;
}
.nc_city_cont .nc_tit {
	width: 958px;
	border-bottom: 1px solid #E6E6E6;
	position: relative;
	padding: 0 20px;
	height: 60px;
}
.nc_tit_label {
	color: #666666;
	float: left;
	font-size: 14px;
	font-weight: 600;
	height: 26px;
	line-height: 60px;
}
#nc_city_list {
	float: left;
	line-height: 60px;
}
.nc_city_numlist ul {
	margin-top: 20px;
}
#nc_city_list li {
	float: left;
	font-size: 16px;
	height: 26px;
	margin-right: 22px;
}
#nc_city_list li a {
	color: #e64d5e;
	font-weight: 600;
}
.nc_city_numlist ul li {
	width: 960px;
	height: 30px;
	overflow: hidden;
	position: relative;
	border-bottom: 1px solid #FFFFFF;
	border-top: 1px solid #FFFFFF;
	padding: 6px 10px 6px 30px;
}
.nc_city_numlist ul li span.lable {
	border: 1px solid #DDDDDD;
	color: #666666;
	display: inline-block;
	height: 30px;
	line-height: 24px;
	margin-right: 5px;
	vertical-align: top;
	width: 30px;
}
.nc_city_numlist ul li strong {
	background: #F1F1F1;
	border: 1px solid #F7F7F7;
	border-radius: 0 0 0 0;
	display: block;
	font-family: Tahoma;
	font-size: 16px;
	height: 28px;
	text-align: center;
	width: 28px;
}
.nc_city_numlist ul li span {
	display: block;
	float: left;
	height: 30px;
	line-height: 30px;
	width: 845px;
}
.nc_city_numlist ul li a {
	color: #666666;
	display: block;
	float: left;
	font-size: 14px;
	line-height: 30px;
	margin: 0 10px;
	white-space: nowrap;
}
.nc_city_numlist .cerrent_hover {
	background: #F7FBFD;
	border-color: #E8F4FA;
}
.nc_city_numlist ul li:hover span.lable {
	border: 1px solid #e64d5e;
}
.nc_city_numlist {
	padding-bottom: 30px;
}
.nc_city_numlist .cerrent_hover span.label {
	border: 1px solid #e64d5e;
}
.nc_city_numlist .cerrent_hover strong {
	background: #e64d5e;
	border: 1px solid #e64d5e;
	color: #FFFFFF;
}
/* banner轮播 */
.nclife_top {
	height: 406px;
	margin: 0 auto;
	min-width: 990px;
	position: relative;
	z-index: 2;
}
.nc-foucs-cont {
	background: #FF6600;
	margin: 0 auto;
	position: relative;
	width: 990px;
}
.flexslider {
	height: 406px;
	margin: 0 auto;
	overflow: hidden;
	width: 100%;
}
.flexslider ul {
}
.flexslider ul li a img {
	left: 50%;
	margin-left: -960px;
	position: absolute;
	overflow: hidden;
	top: 0;
	width: 1920px;
}
.flexslider ul li img {
	height: 406px;
	left: 50%;
	margin-left: -960px;
	position: absolute;
	overflow: hidden;
	top: 0;
	width: 1920px;
}
.flex-control-nav {
	position: absolute;
	text-align: center;
	width: 100%;
}
.flex-control-nav {
	bottom: 25px;
	left: 50%;
	margin-left: -320px;
	position: absolute;
	width: 260px;
	z-index: 29;
}
.flex-control-nav li {
	background: #574A41;
	border-radius: 50% 50% 50% 50%;
	cursor: pointer;
	display: inline-block;
	height: 20px;
	margin: 0 4px;
	overflow: hidden;
	/*	text-indent: -9999px;*/
	width: 20px;
	display: block;
	float: left;
}
.flex-control-nav li a {
	color: #FFF;
	font-family: "Microsoft YaHei";
	width: 20px;
	height: 20px;
	display: block;
	cursor: pointer;
	line-height: 20px;/*	text-indent: -9999px;*/
}
.flex-control-nav li a:hover {
	text-decoration: none;
	background: #574A41;
}
.flex-control-nav li a:active {
	background: #E64D5E;
}
.flex-control-nav, .flex-direction-nav {
	list-style: outside none;
	padding: 0;
}
.flex-direction-nav .prev, .flex-direction-nav .next {
	display: block;
}
.flex-direction-nav .next {
	background: url(../images/nc_next.png) no-repeat right 0;
	margin-right: -295px;
	right: 50%;
}
.flex-direction-nav .prev {
	background: url(../images/nc_prev.png) no-repeat 0 0;
	left: 50%;
	margin-left: -295px;
}
.flex-direction-nav li a {
	cursor: pointer;
	display: block;
	height: 36px;
	margin: -8px 0 0;
	opacity: 0.1;
	padding: 0;
	position: absolute;
	text-indent: -9999px;
	top: 50%;
	width: 36px;
	filter: alpha(opacity=10);
	LINE-HEIGHT: 30px;
}
.flex-direction-nav li a:hover {
	opacity: 0.3;
	filter: alpha(opacity=20);
	LINE-HEIGHT: 30px;
}
/*滑动样式*/
.section-main {
	margin: 0 auto;
	position: relative;
	width: 1200px;
	z-index:10;
	left: 0;
}
.section-nav {
	background: #ffffff;
	height: 315px;
	left: 0;
	margin-top: -355px;
	position: absolute;
	top: 0;
	width: 200px;
}
.category {
	position: absolute;
	top: 40px;
	width: 211px;
	height: 480px;
	border: 2px solid #e64d5e;
	border-top: 0;
	overflow: visible;
	background: #FFF;
	line-height: 22px;
	font-size: 12px;
	font-family: '宋体', sans-serif;
	z-index:10; display:none;
	-webkit-backface-visibility: hidden
}
.nav-drop .category{ display:block;}
#main-nav-wrap .solid .category{
    display: block;
    height: 480px;

}
.nc-cates {
	position: absolute;
	top: 0;
	border:2px solid #ce3143;
	border-bottom: 0;
	padding-left: 15px;
	width: 196px;
	height: 38px;
	line-height: 38px;
	cursor: default;
	text-align: left;
	font-weight: bold;
	color: #FFF;
	background:#ce3143; font-size:15px;
}
.sub-nav .nc-cates { background:#ce3143;width: 196px;
	border: 2px solid #ce3143;height: 36px; cursor:pointer;}

.sub-nav  a:hover .nc-cates{ text-decoration:none;  }


.nc-cates i {
	position: absolute;
	width: 20px;
	height: 20px;
	top: 9px;
	left: 175px;
	background: url(../images/lsimg/sub-icon.png) -113px -21px no-repeat; cursor:pointer;
}

.nav-drop .nc-cates i {
	position: absolute;
	width: 20px;
	height: 20px;
	top: 9px;
	left: 175px;
	background: url(../images/lsimg/sub-icon.png) -113px -2px no-repeat;cursor:pointer;
}


/*分类导航菜单*/
.section-main .category .menu {
	background-color: #FFF;
}
.section-main .category .menu li {
	/*	background-color: #FAFAFA;*/
	width: 210px;
	height: 59px;
*float: left;
*clear: left;
	border-top: solid 1px #eee;
	position: relative;
	z-index: 1;
	zoom: 1;
}
.section-main .category .menu li.odd {
/*background-color: #FAFAFA;*/
}
.section-main .category .menu li.even {
/*background-color: #F0F0F0;*/
}
.section-main .category .menu li.hover {
	z-index: 2;
}
.section-main .category .class {
	border-style: solid;
	border-width: 1px 0 1px 1px;
	border-color: transparent;
	display: block;
	width: 182px;
	height: 36px;
	padding: 12px 15px;
	position: absolute;
	z-index: 1;
	top: -2px;
	left: -1px;
	cursor: pointer;
}
.section-main .category .hover .class {
	background-color: #FFF!important;
	border-color: #dbdbdb transparent #dbdbdb #e64d5e;
	z-index:2;
}
.section-main .category .class span.ico {
	width: 16px;
	height: 16px;
	float: left;
	margin-right: 6px;
	float: left;
	filter: alpha(opacity=50)/*IE*/;
	-moz-opacity: 0.5/*Moz+FF*/;
	opacity: 0.5;
}
.section-main .category .menu li.hover .ico {
	filter: alpha(opacity=100)/*IE*/;
	-moz-opacity: 1/*Moz+FF*/;
	opacity: 1;
}
.section-main .category .class span.ico img {
	max-width: 20px;
	max-height: 20px;
	-webkit-filter: grayscale(100%)/*Webkit*/;
	-o-filter: grayscale(100%);
	filter: gray;
}
.section-main .category .menu li.hover .ico img {
	-webkit-filter: grayscale(0)/*Webkit*/;
	-o-filter: grayscale(0);
	filter: none;
}
.section-main .category .class h4 {
	font-weight: 600;
	line-height: 16px;
	color: #333;
	height: 16px;
	float: left;
	font-size: 14px;
}
.section-main .category .class h4 a {
	color: #333;
}
.section-main .category .menu li.hover .class h4 a {
	color: #E64D5E; text-decoration: none;
}
.section-main .category .class .recommend-class {
	line-height: 16px;
	width: 168px;
	height: 16px;
	float: left;
	clear: both;
	margin-top: 8px;
	overflow: hidden;
}
.section-main .category .class .recommend-class a {
	color: #666;
	white-space: nowrap;
	margin-right: 6px;
}
.section-main .category .class .arrow {
	background: url(../images/lsimg/base-icon.png) no-repeat 0 -17px;
	width: 5px;
	height: 9px;
	float: right;
}
.section-main .category .sub-class {
	background-color: #FFF;
	display: none;
	width: 280px;
	padding: 0 7px;
	border: 1px solid #dbdbdb;
	position: absolute;
	top: -2px;
	left: 211px;z-index:6;
}
.section-main .category li.hover .sub-class { z-index:1;
	display: block;
}
.section-main .category .sub-class dl {
	width: 265px;
	margin: 8px;
	float: left;
}
.section-main .category .sub-class dl dt {
	line-height: 24px;
}
.section-main .category .sub-class dl dt h3 {
	font-weight: 600;
	color: #333;
}
.section-main .category .sub-class dl dt h3 a {
	color: #666;
	font-size: 14px;
	font-weight: bolder;
}
.section-main .category .sub-class dl dt h3 a:hover {
	color: #E64D5E;
}
.section-main .category .sub-class dl dd {
	font-size: 0;
*word-spacing:-1px/*IE6、7*/;
	padding: 0 0 5px;
}
.section-main .category .sub-class dl dd.brands-class {
	border-top: dotted 1px #333;
	margin-top: 4px;
}
.section-main .category .sub-class dl dd a {
	font-family: Tahoma;
	font-size: 12px;
	line-height: 12px;
	color: #666;
	border-right: 1px solid #e0e0e0;
	vertical-align: top;
	letter-spacing: normal;
	word-spacing: normal;
	display: inline-block;
*display:inline/*IE6、7*/;
	height: 12px;
	padding-right: 7px;
	margin: 2px 7px 2px 0;
*zoom:1/*IE6、7*/;
}
.section-main .category .sub-class dl dd a:hover {
	color: #E64D5E;
}
.section-main .category .sub-class dl dd h5 {
	font-size: 12px;
	line-height: 20px;
	color: #333;
	margin: 4px 0 2px 0;
}
/*热门分类*/
.life_header {
	height: 40px;
	width: 946px;border-bottom: 2px solid #eee;
}
.life_header h2 {
	color: #333333;
	float: left;
	font-size: 22px;
	font-weight: normal;
	height: 40px;
	line-height: 40px;
	font-family: '微软雅黑'; background: url(../images/lsimg/floor-img.png) no-repeat 0 0; padding-left:35px;
}
.life_header h2 span {
	font-family: Verdana;
	color: #b9b9b9;
}
.life_header h2 span em {
	font-size: 20px;
	font-family: Verdana;
}
.life_header h2 a {
	color: #333333;
	text-decoration: none;
	font-family: '微软雅黑';
}
.cat_more {
	color: #666666;
	line-height: 40px;
	float: right;
}
a.cat_more:hover {
	color: #E64D5E;
}
.category_box .ct_box:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}
.category_box {
	width: 1198px;
	margin-top: 5px;
}
.category_box .ct_box {
	width: 1198px;
	border: 1px solid #DBDBDB;
	background: #FFFFFF;
}
.category_box .ct_box_li {
	border-left: 1px dashed #DBDBDB;
	border-top: 1px dashed #DBDBDB;
	float: left;
	margin-left: -1px;
	margin-top: -1px;
	color: #333333;
	display: block;
	font-size: 14px;
	height: 110px;
	width: 398px;
}
.ct-ico {
	display: inline-block;
	height: 62px;
	margin: 10px 5px 0 10px;
	float: left;
	width: 62px;
}
.ct-ico1, .ct-ico2, .ct-ico3, .ct-ico4, .ct-ico5, .ct-ico6 {
	background: url(../images/lsimg/category_img.jpg) no-repeat;
}
.ct-ico2 {
	background-position: 0 -124px;
}
.ct-ico3 {
	background-position: 0 -244px;
}
.ct-ico4 {
	background-position: 0 -62px;
}
.ct-ico5 {
	background-position: 0 -185px;
}
.ct-ico6 {
	background-position: 0 -306px;
}
.ct_r {
	float: left;
	width: 300px;
	margin-top: 10px;
}
.ct_title h2 {
	color: #414141;
}
.ct_title h2 {
	float: left;
	font-size: 18px;
	line-height: 36px;
	margin-left: 5px;
	font-family: "Microsoft YaHei";
	font-weight: normal;
}
.ct01 .ct_title a {
	background-color: #C4DAA1;
}
.ct01 .ct_title a:hover {
	background-color: #95be55;
}
.ct02 .ct_title a {
	background-color: #9fdae7;
}
.ct02 .ct_title a:hover {
	background-color: #80cdde;
}
.ct03 .ct_title a {
	background-color: #fb9191;
}
.ct03 .ct_title a:hover {
	background-color: #f56766;
}
.ct04 .ct_title a {
	background-color: #cfb9e5;
}
.ct04 .ct_title a:hover {
	background-color: #be9edd;
}
.ct05 .ct_title a {
	background-color: #92d38d;
}
.ct05 .ct_title a:hover {
	background-color: #75b960;
}
.ct06 .ct_title a {
	background-color: #fcbf78;
}
.ct06 .ct_title a:hover {
	background-color: #f39706;
}
.ct_title {
	height: 36px;
	line-height: 36px;
}
.ct_title a {
	background: url(../images/lsimg/more.gif) no-repeat;
	cursor: pointer;
	display: inline-block;
	float: right;
	height: 11px;
	margin: 13px 8px 0 0;
	width: 32px;
}
.ct_r ul {
	float: left;
	display: block;
}
.ct_r ul li {
	float: left;
	color: #989898;
	font-size: 12px;
	margin: 0 3px;
	line-height: 23px;
}
.ct_r ul li a {
	color: #989898;
}
.ct_r ul li a:hover {
	color: #757373;
}
/*推荐优惠券*/
.top-coupon {
	background: #FFFFFF;
	border: 1px solid #DBDBDB;
	float: right;
	width: 987px;
}
.top-coupon .c-list li {
	padding: 8px 15px 7px;
	width: 299px;
	float: left;
	border-right: 1px solid #DBDBDB;
	margin-right: -1px;
}
.top-coupon .c-list .item {
	cursor: pointer;
	display: block;
	height: 70px;
	overflow: hidden;
}
.top-coupon .c-list .c-box {
	float: left;
	padding-top: 12px;
	width: 180px;
}
.top-coupon .c-list .c-img {
	float: right;
}
.top-coupon .c-list .c-img img {
	width: 107px;
	height: 68px;
	border: 1px solid #fff;
}
.top-coupon .txt1, .top-coupon .txt2 {
	display: block;
	width: 180px;
	height: 25px;
	overflow: hidden;
	line-height: 25px;
}
.top-coupon .c-list .txt1 {
	color: #666;
	text-overflow: ellipsis;
}
.top-coupon .c-list .item:hover .txt1 {
	color: #E64D5E;
}
.top-coupon .c-list .item:hover .c-img img {
	border: 1px solid #E64D5E;
}
.top-coupon .c-list .txt2 {
	color: #E64D5E;
	font-size: 13px;
	font-weight: 700;
}
.top-coupon .c-list .txt2 em {
	font-weight: 700;
}

.btn {
	color: white;
	background-color: #2db3a6;
	border-color: #0d7b71;

}
.btn, .btn-normal, .btn-hot {
	display: inline-block;
	vertical-align: middle;
*vertical-align:auto;
*zoom:1;
*display:inline;
	padding: 7px 20px 6px;
*padding:4px 20px 2px;
*overflow:visible;
	font-size: 14px;
	font-weight: bold;
	line-height: 1.5;
	font-family: 'SimSun', Arial;
	letter-spacing: .1em;
	text-align: center;
	text-decoration: none;
	border-width: 0 0 1px 0;
	border-style: solid;
	background-repeat: repeat-x;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-moz-user-select: -moz-none;
	-ms-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	cursor: pointer
}
.check-my-cart .btn-hot {
	color: white;
	background-color:#e64d5e;
	border-color:#e64d5e;


}
.btn-small {
	padding: 3px 20px;
*padding:3px 20px 1px;
	font-size: 12px;
	font-weight: normal
}
.btn-hot:hover, .btn-hot.hover, .btn-hot:focus {
	color: white;
	background-color:#ce3143;
	border-color: #c32e3e; text-decoration:none;

}
.price {
    color: #f76120;
    font-family: arial,sans-serif;
}
.price strong {
    margin: 0.1em;font-family: arial,sans-serif;
}

