@charset "utf-8";
.bg1 {
	background: #f7f7f7;
	border: 1px solid #e3e1e1;
}
.bg2 {
	background: #FFFFFF;
	border: 1px solid #eee;
}
.color2 a, .color2 a:visited {
	color: #D43131;
}
/*商铺活动*/
.shop_infobox {
	/*background: url(../images/lsimg/activity-banner.jpg) no-repeat;*/
	background: #FFFFFF;
	border: 1px solid #eee;
	padding: 15px;
	width: 958px;
	margin-top: 10px;
}
.shop_act_img {
	height: 133px;
	overflow: hidden;
	padding: 3px;
	width: 210px;
	float: left;
}
.shop_act_img img {
	width: 210px;
	height: 133px;
}
.shop_act_info {
	color: #999999;
	float: right;
	width: 728px;
	height: auto;
	line-height: 25px;
}
.shop_act_info h2.title {
	color: #333333;
	font-family: "Microsoft YaHei";
	font-size: 20px;
	line-height: 23px;
	margin: 0 0 10px;
}
.shop_act_info h2.title a {
	font-family: Verdana;
	font-size: 14px;
	font-weight: normal;
}
.shop_act_info ul li {
	width: 100%;
	float: left;
}
/*预约订座*/
.dialo-con {
	padding: 15px 20px;
	background: #FFF;
}
.dialo-con .dialotit {
	height: 30px;
	line-height: 30px;
	margin-bottom: 12px;
	padding-left: 50px;
	position: relative;
}
.dialo-con .dialotit .dialo-logo {
	background: url(../images/lsimg/chair.jpg) no-repeat 0 0;
	width: 46px;
	height: 42px;
	display: block;
	left: 0;
	overflow: hidden;
	position: absolute;
	top: -5px;
}
.dialo-con .dialotit h4 {
	color: #424242;
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	overflow: hidden;
	vertical-align: middle;
}
.dialo-con .dialotit .info-exp {
	margin-left: 15px;
	color: #999999;
	font-size: 12px;
}
.dialo-con .dialotit .info-exp a {
	color: #6666CC;
}
.dialo-boxbd {
	background-color: #F4F4F4;
	border-radius: 5px;
	border: 1px solid #D5D5D5;
	float: left;
}
.dialo-boxbd ul {
	padding: 10px 0;
	float: left;
}
.dialo-boxbd ul li {
	padding: 0 10px 7px 20px;
	float: left;
	width: 500px;
	line-height: 29px;
}
.dialo-boxbd ul li .c-tit {
	float: left;
	line-height: 29px;
	text-align: right;
	width: 75px;
}
.dialo-boxbd .pt {
	display: inline-block;
	vertical-align: middle;
	float: left;
}
.dialo-boxbd .pt .dialo-select {
	border: 1px solid #CCCCCC;
	margin-right: 5px;
	padding: 5px 6px 4px;
}
.dialo-boxbd .pt option {
	padding: 0 5px;
}
.dialo-boxbd .pt .c-plain {
	border: 1px solid #CCCCCC;
	color: #000;
	height: 17px;
	line-height: 17px;
	padding: 5px 6px;
}
.dialo-boxbd .pt .c-plain-bd {
	background: url(../images/lsimg/time-icon.gif) no-repeat 120px center;
	cursor: pointer;
}





.dialo-boxbd02 {
	background-color: #F4F4F4;
	border-radius: 5px;
	border: 1px solid #D5D5D5;
	float: left;
}
.dialo-boxbd02 ul {
	padding: 10px 0;
	float: left;
}
.dialo-boxbd02 ul li {
	padding: 0 10px 7px 20px;
	float: left;
	width: 400px;
	line-height: 29px;
}
.dialo-boxbd02 ul li .c-tit {
	float: left;
	line-height: 29px;
	text-align: right;
	width: 75px;
}
.dialo-boxbd02 .pt {
	display: inline-block;
	vertical-align: middle;
	float: left;
}
.dialo-boxbd02 .pt .dialo-select {
	border: 1px solid #CCCCCC;
	margin-right: 5px;
	padding: 5px 6px 4px;
}
.dialo-boxbd02 .pt option {
	padding: 0 5px;
}
.dialo-boxbd02 .pt .c-plain {
	border: 1px solid #CCCCCC;
	color: #000;
	height: 17px;
	line-height: 17px;
	padding: 5px 6px;
}
.dialo-boxbd02 .pt .c-plain-bd {
	background: url(../images/lsimg/time-icon.gif) no-repeat 120px center;
	cursor: pointer;
}





































/*商铺介绍*/
.shop_intro_list {
	width: 633px;
	height: auto;
	float: left;
	background: #FFFFFF;
	border: 1px solid #eee;
	padding: 20px;
}
.shop_intro_hd {
	height: 35px;
	border-bottom: 1px solid #f4f4f4;
	width: 100%;
	margin-bottom: 15px;
}
.shop_intro_hd h3 {
	color: #666666;
	float: left;
	font: 16px/25px "Microsoft Yahei";
	font-weight: bolder
}
.shop_intro_hd strong {
	color: #D43131;
	font-weight: 400;
	font: 16px/25px "Microsoft Yahei";
	font-weight: bolder
}
.font6 {
	font-family: "Microsoft Yahei";
}
.shop_info02 {
	line-height: 25px;
	text-indent: 2em;
	color: #333;
}
/*本地商户*/
.store_info {
	background-color: #f0f0f0;
	margin: 10px 0;
	padding: 5px;
	float: left;
	width: 980px;
}
.store_info_con {
	float: left;
	background-color: #FFFFFF;
	border: 1px solid #cfcfcf;
	padding: 13px 20px 20px;
	width: 938px;
}
.store_info_pic {
	float: left;
	width: 450px;
	height: 270px;
	margin-right: 20px;
}
.store_info_txt {
	float: left;
	width: 465px;
	height: 270px;
	position: relative;
}
.qr_box {
	bottom: 0;
	right: 0;
	position: absolute;
	cursor: pointer
}
.qr_icon {
	width: 50px;
	height: 50px;
	background: url(../images/lsimg/qr.jpg) no-repeat 0 0;
}
.qr_bg {
	width: 175px;
	height: 180px;
	position: absolute;
	bottom: 0;
	right: 50px;
	padding: 10px;
	background: url(../images/lsimg/qrbg.gif) no-repeat 0 0;
	visibility: hidden;
}
.qr_bg span {
	text-align: center;
	color: #999;
	line-height: 25px;
}
.qr_box:hover .qr_bg {
	visibility: visible;
}
.store_info_pic img {
	width: 450px;
	height: 270px;
}
.store_name .store_title {
	float: left;
	font-family: "Microsoft YaHei";
	font-size: 23px;
	padding: 0 20px 0 0;
	line-height: 30px;
}
.store-tit {
	display: block;
	width: 100%;
}
.remark_box .remark_taste {
	float: left;
}
.remark-item {
	background: url(../images/remark_img.gif) no-repeat;
	float: left;
	height: 16px;
	width: 84px;
	margin-right: 6px;
}
.star5 {
	background-position: 0 0;
}
.star4 {
	background-position: 0 -18px;
}
.star3 {
	background-position: 0 -36px;
}
.star2 {
	background-position: 0 -54px;
}
.star1 {
	background-position: 0 -72px;
}
.star0 {
	background-position: 0 -90px;
}
.store_name:after, .store-txt:after, .store_info_txt:after {
	clear: both;
	content: " ";
	display: block;
	height: 0;
	visibility: hidden;
}
.remark_box {
	overflow: hidden;
	width: 100%;
	float: left;
	padding-bottom: 10px; line-height:16px;
}
.store_name {
	overflow: hidden;
	width: 100%;
	float: left;
	padding-bottom: 10px;
}
.col-num, a.col-num {
	font-family: Tahoma, sans-serif;
	color: #999999;
}
a.col-num:hover {
	color: #cc0000;
}
.sep {
	color: #E0E0E0;
	padding: 0 8px;
}
.sep_l {
	color: #8d8d8d;
}
.remark_box .stress {
	font-family: Verdana, Geneva, sans-serif;
	padding-left: 5px;
	color: #CC0000;
}
.remark_box .rst {
	padding-right: 10px;
}
.remark_box .rst strong {
	margin-left: 3px;
}
.store_location {
	float: left;
	width: 100%;
}
.store_location ul li {
	float: left;
	width: 90%;
	font: 400 12px/28px "Microsoft Yahei";
	padding: 0 0 5px 42px;
	overflow: hidden;
}
.store_location ul li span {
	line-height: 18px;
}
.store_location ul li em {
	color: #999999;
	margin-left: -42px;
	text-align: right;
}
.store_location ul li .call {
	padding-right: 20px;
}
/*.book-select {
	background: #F3F3F3;
	float: left;
}
.book-select .book-date, .book-s .book-slet, .book-s .book-slet span {
	background: url(../images/lsimg/bookbg.jpg) no-repeat 0 0;
}
.book-select .book-date {
	background-position: -260px 0;
	cursor: pointer;
	float: left;
	margin: 0 4px 0 0;
	padding: 7px 10px 7px;
	width: 120px;
	display: block;
	height: 18px;
	line-height: 18px;
}
.book-d:hover .book-date {
	background-position: -260px -34px;
}
.book-d, .book-s {
	position: relative;
	display: block;
	z-index: 3;
	cursor: pointer;
	float: left;
}
.book-date-warp {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #CCCACA;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
	color: #221919;
	font-size: 14px;
	overflow: hidden;
	position: absolute;
	text-align: left;
	top: 27px;
	visibility: hidden;
	width: 180px;
	height: 25px;
}
.book-d:hover .book-date-warp {
	visibility: visible;
}
.book-s .book-slet {
	background-position: 0 0;
	color: #333333;
	float: left;
	font-size: 12px;
	height: 30px;
	margin-right: 4px;
	overflow: hidden;
	padding-left: 2px;
}
.book-s .book-slet span {
	background-position: right 0;
	display: inline-block;
	height: 29px;
	line-height: 29px;
	padding: 0 48px 0 6px;
}
.book-s .book-slet span:hover {
	background-position: right -34px;
}*/
/*商铺团信息*/
.store_box {
	width: 100%;
	float: left;
}
.store_box_l {
	width: 675px;
	float: left;
}
.store-group-list {
/*	border-top: 1px solid #E0E0E0;*/
}
.store-group-list li .sg {
	height: 20px;
	margin-bottom: 0;
	margin-top: -1px;
	background-color: #F3F3F3;
	border: 1px solid #E0E0E0;
	display: block;
	margin-left: 0;
	padding: 10px 15px;
	width: auto;
	line-height: 20px;
	color: #6666CC;
	text-overflow: ellipsis;
}
.store-group-list li .sg:hover {
	background: #ececec;
	text-decoration: none;
}
.store-group-list li .igcon, .iqcon {
	background: url(../images/lsimg/shopicon.gif) no-repeat 0 0;
}
.store-group-list li .igcon {
	background-position: 0 0;
}
.store-group-list li .iqcon {
	background-position: -20px 0;
}
.store-group-list li i {
	display: inline-block;
	height: 20px;
	margin-right: 9px;
	overflow: hidden;
	vertical-align: top;
	width: 20px; float:left;
}
/*.store-action {
    float: left;
    line-height: 30px;
    margin-top: 10px;
}
*/
.store-action a, .store-action em {
	color: #6666cc;
	float: left;
}
.store-group-list li .sg strong {
	color: #CC0000;
	margin-right: 10px;
}
.store-action a .nc-collect {
	background: url(../images/lsimg/star.gif) no-repeat left center;
	padding-left: 5px;
	width: 14px;
	height: 13px;
	float: left;
	margin-top: 8px;
}
.store-group-list li .price {
	font-family: Verdana, Geneva, sans-serif; float:left;
}
.store-group-list li .sg .col-num {
	float: right;
}
.shop_desc_list, .jiathis_style {
	float: left;
	padding: 10px 0 10px;
	line-height: 28px;
	width: 100%;
}
.shop_desc_list ul li {
	font-family: "Microsoft Yahei";
	overflow: hidden;
}
.shop_desc_list li .tit02 {
	color: #999999;
	font-size: 12px;
}
.shop_desc_list ul li .shop_tag {
	margin-right: 3px;
	word-wrap: break-word;
}
.shop_desc_list ul li a {
	color: #980101;
}
.col_em, a.col_em {
	color: #999999;
}
/*主体框架*/
#content-detail {
	width: 100%;
}
.ls_layout {
	font-family: '宋体';
	height: auto;
	width: 990px;
	margin: 0 auto;
	padding: 0;
}
/*商品图片头*/
.shop_tabs_hd {
	background: #ffffff;
	height: 40px;
	line-height: 40px;
	width: 672px;
	border: 1px solid #eee;
}
.shop_tabs_hd h3 {
	color: #666666;
	float: left;
	font: 16px/25px "Microsoft Yahei";
	font-weight: bolder;
	height: 40px;
	border-left: 3px solid #e64d5e;
	padding: 0 15px;
	line-height: 40px;
}
.shop_tabs_hd strong {
	color: #D43131;
	font-weight: 400;
	font: 16px/25px "Microsoft Yahei";
	font-weight: bolder
}
.shop_tabs_hd ul li {
	float: left;
	font-size: 16px;
}
/*.shop_tabs_hd ul li.selected a {
	background-color: #FFFFFF;
	
	
	padding: 0 12px;
	color: #D43131;
	font-weight: 400;
}
.shop_tabs_hd ul li a {
	color: #333333;
	display: block;
	float: left;
	font-family: '微软雅黑';
	height: 37px;
	line-height: 37px;
	outline: medium none;
	padding: 0 25px;
	text-decoration: none;
}*/
.layout_l {
	overflow: hidden;
	padding-bottom: 10px;
	width: 674px;
	float: left; margin-top:10px;
}
.more_area, .close_area {
	float: right;
	width: 35px;
	line-height: 40px;
	color: #999999;
	cursor: pointer;
	background: url(../images/open.gif) no-repeat;
	margin-right: 15px;
}
.close_area {
	background-position: right -36px
}
.more_area {
	background-position: right 16px;
}
.more_area:hover, .close_area:hover {
	color: #e64d5e;
}
/*商品图片*/
.shop_tabs {
	float: left;
	height: auto;
	margin: 10px 10px 0 0;
	width: 672px;
}
.shop_pic_list {
	float: left;
	width: 685px;
	height: auto;
	margin-top: 10px;
	position: relative;
	z-index: 2;
}
.shop_pic_box {
	background: #FFFFFF;
	border: 1px solid #E6E6E6;
	float: left;
	margin-bottom: 10px;
	margin-right: 11px;
}
.goods_small_pic {
	display: block;
	margin: 4px;
	width: 150px;
	height: 100px;
	position: relative;
	z-index: 2;
}
.shop_pic_box a:hover {
	background-color: #FFF;
	opacity: 1;
}
.shop_pic_tit {
	background: #f3f3f3;
	border-top: 1px solid #E6E6E6;
	color: #333333;
	font-size: 12px;
	height: 35px;
	line-height: 35px;
	margin-top: 3px;
	overflow: hidden;
	padding: 0 5px;
	text-align: center;
	width: 148px;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: normal;
}
.toggleItme {
	display: none;
}
.expend .toggleItme {
	display: block;
}
/*实物图片*/
.shop_sw_tabs {
	float: left;
	height: auto;
	margin: 10px 10px 0 0;
	width: 672px;
}
.shop_sw_list {
	float: left;
	width: 685px;
	height: auto;
	margin-top: 10px;
	display: block;
}
.shop_sw_box {
	background: #FFFFFF;
	border: 1px solid #E6E6E6;
	width: 158px;
	margin-bottom: 10px;
	margin-right: 11px;
	float:left;
}
.goods_small_sw {
	display: block;
	margin: 4px;
	width: 150px;
	height: 100px;
}
.shop_sw_box a:hover {
	background-color: #FFF;
	opacity: 1;
}
.shop_sw_tit {
	color: #666;
	font-size: 12px;
	height: 25px;
	line-height: 25px;
	overflow: hidden;
	padding: 0 5px;
	width: 148px;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: normal;
}
.shop_sw_tit a{color: #666;}
.shop_sw_tit a:hover{color:#e64d5e;}

.shop_sw_price {
	padding: 0 5px;
	height: 25px;
	line-height: 25px;
	color: #666; margin-bottom:5px;
}
.shop_sw_price span {
	color: #cc0000;
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bolder;
}
.toggleItme {
	display: none;
}
.expend .toggleItme {
	display: block;
}
/*评论*/
.share_box {
	float: left;
	width: 100%;
}
.share_box .sh_img img {
	border-radius: 32px;
	float: left;
	width: 65px;
	height: 65px;
	display: block;
	margin-bottom: 3px;
	margin-right: 22px;
}
.share_box .nc-pic {
	float: left;
	margin-right: 17px;
	width: 70px;
}
.share_list {
	width: 100%;
}
.share_box .level-icon {
	display: inline-block;
*display:inline;
	width: 50px;
	height: 15px;
	line-height: 15px;
	margin: 0;
	padding: 0;
	vertical-align: bottom;
*zoom:1
}
.level-icon-0 {
	background-position: -20px 0
}
.level-icon-1 {
	background-position: -20px -25px
}
.level-icon-2 {
	background-position: -20px -50px
}
.level-icon-3 {
	background-position: -20px -75px
}
.level-icon-4 {
	background-position: -20px -100px
}
.level-icon-5 {
	background-position: -20px -125px
}
.level-icon-6 {
	background-position: -20px -150px
}
.share_box .nc-pic .name {
	line-height: 18px;
	padding: 3px 0 7px;
	text-overflow: ellipsis;
	width: 80px;
	overflow: hidden;
	white-space: nowrap;
	word-wrap: normal;
}
.share_box .nc-pic .name a {
	color: #6666CC;
	font-family: "Microsoft YaHei";
}
.share_cont {
	background: #FFFFFF;
	border: 1px solid #eee;
	float: right;
	position: relative;
	width: 565px;
	padding: 20px 10px 10px;
}
.share_list dd, .share_list dt {
	width: 100%;
}
.share_list dt {
	color: #999999;
	float: left;
	line-height: 16px;
}
.share_list dt span {
	font-family: Verdana, Geneva, sans-serif;
	padding-left: 5px;
	color: #000;
	float: left;
}
.share_list dt span .stress {
	font-family: Verdana, Geneva, sans-serif;
	color: #CC0000;
}
.share_list dd {
	float: left;
	display: block;
}
.share_list dd a:hover img {
	text-decoration: none;
}
.share_list dd p.list_detail {
	color: #666666;
	font-size: 12px;
	line-height: 24px;
	text-indent: 2em;
}
.share_list dt span.share_time {
	color: #999999;
	margin-right: 10px;
	float: right;
}
.share_list .share_info {
	background: #f8f7f7;
	float: right;
	height: 30px;
	line-height: 30px;
	width: 565px;
	padding: 0 10px;
	border: 1px solid #eee;
	border-top: none;
}
.share_list dd.share_info, .share_list .share_info span.sh_tit {
	color: #999;
	height: 30px;
	line-height: 30px;
	float: left;
}
.share_list .share_info a.sh {
	color: #999;
	float: left;
}
.share_list .share_info a strong {
	font-weight: normal;
}
.left_arrow {
	-moz-border-colors: none;
	border-color: #EEEEEE #EEEEEE #FFFFFF #FFFFFF;
	border-image: none;
	border-style: solid;
	border-width: 8px;
	display: inline-block;
	font-size: 0;
	height: 0;
	left: -17px;
	line-height: 0;
	position: absolute;
	top: 15px;
	width: 0;
}
.left_arrow span {
	-moz-border-colors: none;
	border-color: #FFFFFF #FFFFFF transparent transparent;
	border-image: none;
	border-style: solid solid dashed dashed;
	border-width: 8px;
	display: inline-block;
	font-size: 0;
	height: 0;
	left: -6px;
	line-height: 0;
	overflow: hidden;
	position: absolute;
	top: -7px;
	width: 0;
}
.share_list dd p.info {
	color: #999;
	line-height: 24px;
}
.share_info .col-right {
	margin-left: 10px;
	font-size: 12px;
	float: right;
}
.share_info .col-right a {
	color: #6666cc;
	float: left;
}
.col-right .sep {
	color: #E0E0E0;
	padding: 0 5px;
	float: left;
}
.col-right .col-exp {
	font-family: "Microsoft YaHei";
}
/*分页样式*/
/*.page_box {
	clear: both;
}*/
.pb {
	margin: 20px auto;
	overflow: hidden;
	width: 1000px;
}
.page_box ul {
	float: right;
	padding: 5px 0;
	text-align: right;
}
.page_box ul li {
	display: inline-block;
	list-style-type: none;
}
.page_box ul li {
	float: left;
}
.page_box li span {
	background-color: #FFFFFF;
	border: 1px solid #eee;
	color: #777777;
	display: inline;
	float: left;
	font-size: 14px;
	height: 28px;
	line-height: 28px;
	list-style-type: none;
	margin: 0 1px;
	padding: 0 10px;
}
.page_box li a span, .page_box li a:visited span {
	color: #980101;
	cursor: pointer;
	text-decoration: none;
}
.page_box li a:hover span, .page_box li a:active span {
	background-color: #FFFFFF;
	border-color: #980101;
	color: #980101;
	cursor: pointer;
}
.page_box li span.currentpage {
	background-color: #e64d5e;
	border-color: #e64d5e;
	color: #FFFFFF;
	font-weight: 600;
}
/*上传分享登录前*/
.share_update {
	overflow: hidden;
	width: 990px;
	background: #F5F5F5;
}
.share_update_box {
	margin-bottom: 20px;
	width: 988px;
}
.share_update_hd {
	margin: 20px 10px 20px 20px;
}
.share_update_hd h3 {
	color: #666666;
	font: 400 24px/24px "Microsoft Yahei";
}
.share_login {
	width: 940px;
	margin: 0 auto;
}
.share_login span a.img_none {
	float: left;
	text-align: center;
	width: 65px;
	color: #666;
}
.share_login span a.img_none img {
	border-radius: 5px 5px 5px 5px;
	display: block;
	height: 65px;
	margin-bottom: 3px;
	width: 65px;
}
.sl_box {
	background: #FFFFFF;
	border: 1px solid #DADADA;
	float: right;
	position: relative;
	width: 850px;
}
.sl_login {
	color: #666666;
	font-family: "Microsoft Yahei";
	font-size: 18px;
	padding: 45px 0 50px 35px;
}
.sl_login strong, .sl_login strong a {
	font-family: "Microsoft Yahei";
	font-weight: normal;
}
.sl_login strong a {
	padding: 0 5px;
}
/*上传分享登录后*/
.upshare {
	line-height: 30px;
	overflow: hidden;
	padding: 10px;
	float: left;
	position: relative;
}
.upshare .upshare_btn {
	background: url(../images/lsimg/icon.png) no-repeat -178px -184px #AF1111;
	border-radius: 5px 5px 5px 5px;
	color: #FFFFFF;
	height: 10px;
	line-height: 10px;
	margin-right: 15px;
	padding: 8px 10px 8px 30px;
	z-index: 0;
	vertical-align: middle;
	cursor: pointer;
}
.share_cont_block {
	width: 900px;
	height: auto;
	margin-left: 10px;
	float: left;
}
.sh_bd {
	width: 710px;
	background: #FFFFFF;
	border: 1px solid #DADADA;
	float: left;
	width: 710px;
	position: relative;
}
.share-rj, .share-tc, .share-tag, .share-rj02 {
	margin-top: 10px;
}
.share-rj span {
	line-height: 30px;
	height: 30px;
	float: left;
}
.share-rj02 span {
	line-height: 30px;
	height: 30px;
	float: left;
}
.share-tc span {
	line-height: 30px;
	height: 30px;
	float: left;
}
.share-tag {
	margin-left: 28px;
}
.share_cont_block .share-rj, .share_cont_block .share-tc, .share_cont_block .share-tag, .share_cont_block .share-rj02 {
	font-size: 14px;
	width: 100%;
	float: left;
}
.share_cont_block .share-rj input, .share_cont_block .share-tc input, .share_cont_block .share-tag input {
	border: 1px solid #CCCCCC;
	color: #666;
	height: 17px;
	line-height: 17px;
	padding: 5px 6px;
	margin-right: 5px;
}
.share_cont_block .share-rj02 input {
	color: #666;
	height: 17px;
	line-height: 17px;
	margin: 7px 5px 0;
	display: block;
	float: left;
}
.share_cont_block .share-rj02 {
	line-height: 30px;
}
.share_cont_block .share-tc input {
	width: 500px;
}
.sh_bd textarea {
	border: 1px solid #FFFFFF;
	height: 72px;
	line-height: 24px;
	margin: 5px;
	outline: medium none;
	width: 700px;
	font-size: 14px;
}
.sh_tag {
	bottom: -45px;
	color: #999999;
	left: 0;
	position: absolute;
}
.sh_tag label {
	color: #666666;
	font-size: 14px;
	height: 30px;
	line-height: 30px;
}
.sh_tag .sh_tag_wrap {
	height: 30px;
}
.sh_tag .txt {
	height: 28px;
	line-height: 28px;
	padding: 0 8px;
	width: 290px;
}
.placeholder {
	color: #666 !important;
}
.sh_sub {
	float: left;
	margin: 30px 0 0 70px;
	display: inline;
}
.sh_sub_a {
	background: #b20e0e;
	border-radius: 4px 4px 4px 4px;
	color: #FFFFFF;
	display: inline-block;
	font: 400 14px/26px "Microsoft Yahei", "SimHei";
	height: 26px;
	padding: 0 10px;
	cursor: pointer;
}
.sh_sub_a:hover {
	background: #980101;
	text-decoration: none;
}
.upshareimg {
	float: left;
	width: 100%;
	height: auto;
	margin-left: 15px;
}
.upshareimg dl {
	float: left;
	width: 90px;
	height: 120px;
}
.upshareimg dl dt {
	background-color: #FFFFFF;
	border: 1px solid #EEEEEE;
	box-shadow: 0 0 4px #AAAAAA;
	float: left;
	margin-right: 15px;
	overflow: hidden;
	padding: 10px;
	position: relative;
	z-index: 1;
	height: 64px;
	line-height: 64px;
	width: 64px;
	padding: 5px;
}
.upshareimg dl dt img {
	height: 64px;
	width: 64px;
	vertical-align: top;
}
.upshareimg dl dd img {
	cursor: pointer;
	height: 18px;
	margin-bottom: 25px;
	width: 19px;
	float: left;
	margin: 10px 25px;
}
/*店铺推荐*/
.shop_recommend {
	margin-bottom: 10px;
	float: left;
	width: 100%;
}
.recommend_hd {
	margin: 20px 10px 20px 20px;
	float: left;
	width: 90%;
}
.recommend_hd strong {
	color: #D43131;
	font-weight: 400;
}
.shop_recommend .shop_more, .shop-recommend .shop_more:visited {
	color: #333333;
	font-size: 14px;
	line-height: 22px;
}
.shop_recommend span {
	float: right;
}
.recommend_hd h3 {
	float: left;
	color: #666666;
	font: 400 24px/24px "Microsoft Yahei";
}
.recommend_bd {
	margin: 0 10px 10px 20px;
}
.shop_recommend dl {
	float: left;
	margin-bottom: 20px;
	overflow: hidden;
	width: 100%;/*  position: relative;*/
}
.recommend_bd img {
	height: 50px;
	width: 80px;
}
.recommend_bd dt {
	float: left
}
.recommend_bd dd {
	overflow: hidden;
	width: 175px;
}
.recommend_bd h4 {
	font: 700 14px/14px Microsoft YaHei, SimHei;
	margin-bottom: 8px;
	line-height: 22px;
}
.recommend_bd p {
	line-height: 1.5;
}
.recommend_bd h4 a {
	color: #333;
}
.recommend_bd h4 a:hover {
	color: #cf1010;
}
.recommend_bd .btn, .recommend_bd .btn:visited {
	background: #868686;
	border-radius: 10px;
	color: #FFFFFF;
	line-height: 21px;
	margin-right: 6px;
	padding: 2px 8px;
}
.recommend_bd a:hover.btn {
	background: #980101;
	text-decoration: none;
}
.recommend_bd .i_say, .recommend_bd .i_say:visited {
	color: #AF1111;
	vertical-align: top;
}
/*店铺地图*/
.shop_intro_conr {
	float: right;
	width: 300px;
	height: auto;
}
.shop_map_wrap {
	width: 279px;
	height: auto;
	background: #FFFFFF;
	border: 1px solid #eee;
	padding: 10px;
}
.shop_map {
	border: 1px solid #E6E6E6;
	background: #FFF;
}
/*公交路线*/
.shop_route {
	padding: 15px 0 0;
	width: 100%;
}
.shop_route ul li {
	font: 400 12px/22px "Microsoft Yahei";
	overflow: hidden;
	padding: 0 0 0 68px;
}
.shop_route ul li .tit {
	color: #D43131;
	float: left;
	margin-left: -70px;
	text-align: right;
	width: 70px;
	font-size: 12px;
	line-height: 30px;
	height: 30px;
	float: left;
}
.shop_route ul li span {
	margin-right: 5px;
	word-wrap: break-word;
	line-height: 28px;
	height: 30px;
	float: left;
}
/*按钮*/

.dialo-apt-btn,.dialo-apt-txt{ 
    background: url(../images/lsimg/btn.jpg) no-repeat 0 0;
	display: inline-block; 
}
.dialo-apt-btn .dialo-apt-txt{
	background-position: 0 0;
	border: 0 none;
	font: bold 14px/30px "Simsun";
	height: 30px;
	padding: 0 13px 0 15px;
	color: #FFFFFF;
	cursor: pointer;
	display: inline-block;
	line-height: 30px;
	overflow: visible;
	margin: 0;
}
.dialo-apt-btn{
	background-position: right 0;
	padding-right: 1px;
	float:right; 
    margin-top: 18px;
}
.dialo-apt-btn:hover {
	background-position: right -31px;
}
.dialo-apt-btn .dialo-apt-txt:hover {
	background: url(../images/lsimg/btn.jpg) no-repeat 0 -31px; text-decoration:none;color: #FFFFFF;
}











































.store-apt-btn, .store-apt-txt{ 
    background: url(../images/lsimg/btn.jpg) no-repeat 0 0;
	display: inline-block; 
}
.store-apt-btn .store-apt-txt {
	font: bold 14px/30px "Simsun";
	height: 30px;
	padding: 0 13px 0 15px;
	color: #FFFFFF;
	cursor: pointer;
}
.store-apt-btn{
	background-position: right 0;
	padding-right: 1px;
	float: left; 
    margin-top: 18px;
}
.store-apt-btn:hover {
	background-position: right -31px;
}
.store-apt-btn .store-apt-txt:hover {
	background: url(../images/lsimg/btn.jpg) no-repeat 0 -31px; text-decoration:none;
}
.store-apt-btn .store-apt-txt:hover {
	background-position: 0 -31px;
	color: #FFFFFF;
}
.store-apt-btn .store-apt-txt {
	background-position: 0 0;
	border: 0 none;
	color: #FFFFFF;
	cursor: pointer;
	display: inline-block;
	height: 30px;
	line-height: 30px;
	margin: 0;
	overflow: visible;
	padding: 0 8px 0 10px;
}














	


.apt-btn:hover {
	background-position: right -31px;
}	
.apt-btn, .apt-btn-txt {
	background: url(../images/lsimg/btn.jpg) no-repeat 0 0;
	display: inline-block;
}
.apt-btn .apt-btn-txt {
	font: bold 14px/30px "Simsun";
	height: 30px;
	padding: 0 13px 0 15px;
	color: #FFFFFF;
	cursor: pointer;
}
.apt-btn .apt-btn-txt:hover {
	background: url(../images/lsimg/btn.jpg) no-repeat 0 -31px; text-decoration:none;
}


.apt-btn {
	background-position: right 0;
	padding-right: 1px;
	float: right; position: absolute;
/*	margin-top: 18px;*/ display:none; right:10px; bottom:10px;
}
.apt-btn:hover {
	background-position: right -31px;
}
.apt-info .apt-btn-txt:hover {
	background-position: 0 -31px;
	color: #FFFFFF;
}
.apt-info .apt-btn-txt {
	background-position: 0 0;
	border: 0 none;
	color: #FFFFFF;
	cursor: pointer;
	display: inline-block;
	height: 30px;
	line-height: 30px;
	margin: 0;
	overflow: visible;
	padding: 0 8px 0 10px;
}
/*店铺活动*/
.shop_activitie {
	overflow: hidden;
	width: 675px;
}
.sa_bd {
	padding: 20px;
	float: left;
}
.sa_bd .pic {
	float: left;
	margin-top: 5px;
}
.sa_bd .pic img {
	width: 535px;
	height: auto;
}
.sa_con {
	color: #666666;
	float: right;
	overflow: hidden;
	width: 535px;
}
.sa_con .act-tit {
	width: 510px;
	margin-bottom: 5px;
	font-size: 16px;
}
.sa_con .act-tit a {
	color: #333;
	height: 23px;
	line-height: 23px;
	overflow: hidden;
	display: block;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-family: "Microsoft YaHei";
	font-weight: normal;
}
.sa_con .act-tit a:hover {
	color: #D43131;
}
.sa_con .info {
	font-size: 12px;
	line-height: 25px;
	max-height: 100px;
	overflow: hidden;
	word-wrap: break-word;
	color: #999;
}
.sa_con .info b {
	font-weight: normal;
	font-family: "宋体", arial;
}
.sa_con_list {
	float: left;
	padding: 10px 0 0;
	width: 100%;
}
.sa_con_list ul {
	float: left;
	width: 540px;
	height: auto;
}
.sa_con_list ul li {
	font-size: 12px;
	font-family: Tahoma, sans-serif;
	height: 25px;
	line-height: 25px;
	color: #666;
}
.icon-box {
	float: left;
	width: 400px;
	background: #f3f3f3;
	height: 30px;
	width: 100%;
	padding-left: 15px;
	line-height: 30px;
	margin-top: 20px;
}
.icon-box em {
	float: left;
}
.enroll-box {
	float: left;
	width: 513px;
	line-height: 25px;
	background-color: #f5f5f5;
	border: 1px solid #e9e9e9;
	padding: 10px;
	margin: 10px 0;
}
.enroll-box .tit02 {
	float: left;
	line-height:35px;
	display: block;
	font-size: 12px;
	color: #666;
}
.enroll-box .con02 {
	float: left;
	line-height: 25px;
	display: block;
	width: 400px;
	margin-left: 10px;
}
.enroll-box input {
}
.enroll-box span {
	color: #666;overflow: hidden; line-height:18px; width:380px; line-height:25px;
}
.enroll-box .eb-list {
	width: 400px;
	float: left; display:block; padding:5px 0 2px;
}
.sa_con_list ul li .sa_tit {
	font-size: 12px;
	color: #980101;
}
.sa_con_list a.sa_btn {
	background: url(../images/lsimg/sa_brn.jpg) repeat 0 0;
	width: 151px;
	height: 45px;
	float: right;
	cursor: pointer;
}
.sa_con_list a.sa_btn:hover {
	background: url(../images/lsimg/sa_brn.jpg) repeat 0 45px;
	width: 151px;
	height: 45px;
	float: right;
}
.sa_avatar {
	float: left;
	width: 100%;
	border-top: 1px dashed #CCCCCC;
	height: 30px;
	margin-top: 10px;
	padding-top: 10px;
	position: relative;
	z-index: 2;
}
.sa_block {
	float: left;
	height: 25px;
	margin-right: 3px;
	overflow: hidden;
	width: 25px;
}
.icon_qzone, .icon_tqq, .icon_sina, .icon_renren {
	background: url(../images/lsimg/pic_share.jpg) no-repeat 0 2px;
	height: 25px;
	padding-left: 23px;
	padding-right: 10px;
	color: #666666;
	display: block;
	float: left;
}
.icon_tqq {
	background-position: 3px -26px;
}
.icon_sina {
	background-position: 0 -54px;
}
.icon_renren {
	background-position: 2px -82px;
}
.sa_con .icon a:hover {
	color: #980101;
}
.sa_con .icon {
	font-family: '宋体';
}
.sa_con .icon em {
	float: left;
}
/*店铺活动*/
.sa_bd .actimg {
	padding-right: 18px;
	padding-top: 6px;
	width: 80px;
	float: left;
}
.sa_bd .b_logo {
	display: block;
	height: 47px;
	line-height: 0;
	margin-bottom: 5px;
	overflow: hidden;
	position: relative;
	width: 80px;
}
.sa_bd .b_logo img {
	display: block;
	width: 80px;
}
/*最新评论*/
.shopnear_bd .item {
	border-top: 1px dotted #DBDBDB;
	padding: 10px 0;
	color: #999;
	overflow: hidden;
}
.shopnear_bd .item .date {
	float: right;
	font-family: Verdana;
}
.shopnear_bd .item .info {
	display: block;
	float: left;
	width: 100%;
	height: 16px;
	line-height: 16px;
}
.shopnear_bd .item .desc {
	max-height: 108px;
	overflow: hidden;
	float: left;
	line-height: 18px;
	margin-top: 10px;
}
/*报错*/
.pic_box {
	background: #FFFFFF;
	border: 1px solid #E6E6E6;
	margin-bottom: 10px;
}
/*商铺资料*/
.shop_intro_top {
	background: #fbfafa;
	margin-bottom: 10px; /*background:url(../images/bg_2.png) repeat;
_background:none;filter:Alpha(Opacity=50) opacity:0.3 progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/bg_2.png', sizingMethod='scale');  
_filter:Alpha(Opacity=100) opacity:0.3 progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/bg_2.png', sizingMethod='scale');*/
}
.shop_info_box {
	height: 100px;
	margin: 0 auto;
	position: relative;
	width: 990px;
	z-index: 1;
}
.shop_info_pic {/*filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#BFFFFFFF', endColorstr='#BFFFFFFF');background:rgba(255,255,255,0.75);*/
	background: #FFF;
	width: 212px;
	height: 133px;
	padding: 10px;
	border: solid 1px #D8D8D8;
	box-shadow: 3px 1px 1px rgba(153,153,153,0.25);
	position: absolute;
	z-index: 1;
	top: 10px;
	left: 0;
}
.shop_info_pic span {
	background-color: #FFF;
}
.shop_info_pic img {
	width: 210px;
	height: 132px;
}
.sibg {
	background: url(../images/shop_info_topbg.jpg) repeat 0 0;
	height: 2px;
	left: 0;
	overflow: hidden;
	width: 100%;
}
.shop_intro {
	float: left;
	margin: 0 0 0 260px;
	width: 500px;
}
.shop_intro h2 {
	color: #333333;
	font-size: 24px;
	line-height: 24px;
	margin: 20px 0 20px 0;
	text-align: left;
}
.shop_taste {
	float: left;
}
.shop_intro span {
	float: left;
	text-align: left;
	padding: 0 10px 0 0;
}
.shop_intro span .stress {
	font-family: Verdana, Geneva, sans-serif;
	padding-left: 5px;
}
.shop_intro span strong {
	padding-left: 5px;
}
.shop_intro_con {
	width: 990px;
	height: auto;
	margin: 70px auto 20px;
}
.shop_location {
	float: left;
	width: 100%;
}
.shop_location ul li {
	float: left;
	width: 100%;
	font: 400 14px/28px "Microsoft Yahei";
}
.shop_location ul li .call {
	padding-right: 20px;
}
.shop_add {
	margin-left: 20px;
}
.shop_desc_list ul li a {
	color: #980101;
}
.shop_desc_list ul li .shop_tag {
	word-wrap: break-word;
	margin-right: 3px;
}
.col_em, a.col_em {
	color: #999999;
	font-family: "Microsoft Yahei";
}
.shop_intro_conl {
	width: 672px;
	float: left;
	height: auto;
	margin: 10px 10px 0 0;
}
/*附近店铺*/
.shopnear, .shop_mlist, .sidebox {
	float: left;
	width: 279px;
	background: #FFFFFF;
	border: 1px solid #eee;
	padding: 10px;
}
.shopnear_hd {
	margin: 20px 10px 20px 20px;
	float: left;
	width: 90%;
}
.shopnear_hd strong {
	color: #D43131;
	font-weight: 400;
}
.shopnear span {
	float: right;
}
.shopnear_hd h3 {
	float: left;
	color: #666666;
	font: 400 24px/24px "Microsoft Yahei";
}
.shopnear_bd, .shop_mlist_bd {
	width: 279px;
	overflow: hidden;
}
.shopnear dl {
	float: left;
	margin-bottom: 20px;
	overflow: hidden;
	width: 100%;/*  position: relative;*/
}
.shop_mlist_bd dl {
	float: left;
	border-top: 1px dashed #F4F4F4;
	margin-top: -1px;
	;
	overflow: hidden;
	width: 100%;
	padding: 10px;
}
.shopnear_bd img {
	height: 80px;
	width: 80px;
}
.shopnear_bd dt, .shop_mlist_bd dl dt {
	float: left;
}
.shopnear_bd dd, .shop_mlist_bd dd {
	overflow: hidden;
	width: 175px;
}
.shopnear_bd h4, .shop_mlist_bd h4 {
	font: 700 14px/14px Microsoft YaHei, SimHei;
	margin-bottom: 8px;
	line-height: 22px;
}
.shopnear_bd p {
	line-height: 1.5;
}
.shopnear_bd h4 a {
	color: #333;
}
.shopnear_bd h4 a:hover {
	color: #cf1010;
}
.shopnear_bd .btn, .shopnear_bd .btn:visited {
	background: #868686;
	border-radius: 10px;
	color: #FFFFFF;
	line-height: 21px;
	margin-right: 6px;
	padding: 2px 8px;
}
.shopnear_bd .i_say, .shopnear_bd .i_say:visited {
	color: #AF1111;
	vertical-align: top;
}
.shop_mlist_bd dl dt img {
	border-radius: 5px 5px 5px 5px;
	display: block;
	float: left;
	height: 65px;
	margin-bottom: 3px;
}
.shop_mlist_bd dl dd p {
	width: 100%;
	line-height: 20px;
	font-family: Tahoma, sans-serif;
	color: #999;
	font-weight: bold;
}
.ut_remark {
	background: url(../images/remark.gif) no-repeat;
	width: 64px;
	height: 12px;
	float: left;
}
.r1 {
	background-position: 0 0;
}
.r2 {
	background-position: 0 -17px;
}
.r3 {
	background-position: 0 -34px;
}
.r4 {
	background-position: 0 -51px;
}
.r5 {
	background-position: 0 -68px;
}
.r6 {
	background-position: 0 -50px;
}
.r7 {
	background-position: 0 -60px;
}
.r8 {
	background-position: 0 -70px;
}
.r9 {
	background-position: 0 -85px;
}
.r10 {
	background-position: 0 -102px;
}
.r11 {
	background-position: 0 -119px;
}
/*商铺报错*/
.store_msg {
	width: 990px;
	margin: 20px auto;
	background-color: #FFF;
	border: 1px solid #EAEAEA;
	height: 300px;
}
.storemsg_layout {
	margin: 0 auto;
	min-height: 50px;
	overflow: hidden;
	padding: 120px 0;
	width: 300px;
}
.storemsg_layout span {
	line-height: 58px;
	margin-left: 72px;
	font-size: 14px;
	display: block;
}
.storemsg_layout .ok-msg {
	width: 58px;
	height: 58px;
	background: url(../images/lsimg/msg_icon.gif) no-repeat;
	float: left;
}
.storemsg_layout .error-msg {
	width: 58px;
	height: 58px;
	background: url(../images/lsimg/error_icon.gif) no-repeat;
	float: left;
}
/*优惠活动活动*/
.shop_favorable {
	margin: 20px auto;
	overflow: hidden;
	width: 990px;
}
.sf_hd {
	width: 986px;
	height: 45px;
	float: left;
}
.sf_hd h3 {
	color: #666666;
	float: left;
	font: 400 24px/41px "Microsoft Yahei";
	margin-left: 20px;
	border-bottom: 4px solid #980101;
}
.sf_bd, .sf_bd02 {
	float: left;
	margin: 10px 0;
	width: 1010px;
}
.sf_bd li {
	background: #fff;
	border: 1px solid #E6E6E6;
	width: 292px;
	padding: 11px;
	float: left;
}
.sf_bd02 li {
	background: #fff;
	border: 2px dashed #E6E6E6;
	width: 458px;
	padding: 11px;
	float: left;
}
.sf_bd02 li a img {
	float: left;
}
.sf_bd02 li .tit {
	font: 400 16px/25px "Microsoft Yahei";
	color: #333333;
	display: block;
	height: 25px;
	width: 100%;
	margin-bottom: 5px;
}
.sf_bd_r {
	float: right;
	display: block;
	width: 220px;
}
.sf_bd02 .sf_bd_r p {
	float: left;
	height: 25px;
	line-height: 25px;
	padding-left: 25px;
	width: 90%;
}
.sf_bd02 .sf_bd_r p.sf_icon3 span {
	color: #980101;
	font-family: Tahoma, sans-serif;
}
.sf_bd02 .sf_bd_r p.btn {
	background: #EF472C;
	color: #FFFFFF;
	float: left;
	font-size: 16px;
	font-weight: bolder;
	height: 37px;
	line-height: 37px;
	text-align: center;
	padding-left: 0;
	width: 100px;
	cursor: pointer;
	margin-top: 10px;
}
.sf_icon1, .sf_icon2, .sf_icon3 {
	background: url(../images/icon.gif) no-repeat 0 0;
}
.sf_icon1 {
	background-position: 0 6px;
}
.sf_icon2 {
	background-position: 0 -34px;
}
.sf_icon3 {
	background-position: 0 -78px;
}
.sf_bd li:hover {
	border: 1px solid #980101;
	cursor: pointer;
}
.sf_bd li:hover .btn {
	background: #980101;
}
.sf_bd li:hover p.price {
	color: #980101;
}
.sf_bd li p.tit {
	font: 400 16px/25px "Microsoft Yahei";
	color: #333333;
	display: block;
	height: 25px;
	margin: 5px 0 10px;
	overflow: hidden;
	text-align: center;
	width: 290px;
}
.sf_bd li p.tit a {
	color: #333333;
}
.sf_bd li p.price {
	color: #E73535;
	height: 30px;
}
.sf_bd li p.price span {
	float: left;
	font-size: 23px;
}
.sf_bd li p.price strong {
	float: left;
	font-size: 25px;
	line-height: 24px;
}
.sf_bd li p.price em {
	color: #4B4B4B;
	float: left;
	line-height: 30px;
	margin-left: 10px;
}
.sf_bd li .btn {
	background: #EF472C;
	color: #FFFFFF;
	float: left;
	font-size: 18px;
	font-weight: bolder;
	height: 37px;
	line-height: 37px;
	text-align: center;
	width: 290px;
	cursor: pointer;
}
.sf_bd li .time, .sf_bd li .num {
	font-family: Tahoma, sans-serif;
	color: #999999;
	height: 20px;
	line-height: 20px;
	margin-top: 5px;
}
.sf_bd li .num span {
	color: #EF472C;
}
.sf_bd li .time span {
	font-weight: bolder;
}
.add_btn, .label_add, .add_btn:hover, .label_add:hover {
	background: url(../images/lsimg/add-btn.gif) no-repeat;
	display: inline-block;
}
.add_btn {
	background-position: right -22px;
	padding-right: 1px;
}
.add_btn:hover {
	background-position: right 0;
	padding-right: 1px;
}
.label_add:hover {
	background-position: 0 0;
}
.label_add {
	background-position: 0 -22px;
	border: 0 none;
	color: #FFFFFF;
	cursor: pointer;
	display: inline-block;
	height: 22px;
	line-height: 20px;
	margin: 0;
	overflow: visible;
	padding: 0 8px 0 10px;
}
.share-tag-list {
	float: left;
	width: 700px;
}
.share-tag-label {
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	color: #999999;
	display: inline;
	float: left;
	height: 24px;
	line-height: 24px;
	margin: 0 5px 5px 0;
	padding: 0 9px;
	white-space: nowrap;
}
.share-tag-label:hover {
	border: 1px solid #980101;
	color: #980101;
	text-decoration: none;
	cursor: pointer;
}
.share-active {
	background: #fff2f2;
	border: 1px solid #d69090;
	color: #aa4343;
}
.share-tag span {
	float: left;
	height: 26px;
	line-height: 26px;
}
.font-msg {
	width: 170px;
	height: 30px;
	line-height: 30px;
	margin: 100px auto;
	display: block;
	text-align: center;
	background: url(../images/lsimg/notice.gif) no-repeat left center;
}
/*二维码*/
.td-code {
	width: 152px;
	float: left;
	margin-left: 17px;
}
.td-code .td-code-img {
	border: 1px solid #CCCCCC;
}
.td-code p {
	text-align: center;
	line-height: 22px;
	font-size: 16px;
}
.td-code p.sign {
	margin: 10px 0 5px;
	width: 152px;
	height: 36px;
	background: url(../images/lsimg/code-icon.jpg) no-repeat 18px center;
}
.td-code p.td-code-msg {
	font-size: 12px;
	color: #999;
	margin-top: 30px;
}
/*二维码*/
.pic_js {
	float: left;
	width: 500px;
}
/*上传图片按钮*/
.btn-add {
	width: 88px;
	height: 30px;
	float: left;
	display: block;
	margin-right: 10px;
	text-align: center;
	background: url(../images/lsimg/icon-add.gif) no-repeat 0 0;
	cursor: pointer;
}
.btn-add:hover {
	background: url(../images/lsimg/icon-add.gif) no-repeat 0 -34px;
}
.fileupload {
	width: 88px;
	height: 30px;
	opacity: 0;/* 实现的关键点 */
	font-size: 100px; /* 增大不同浏览器的可点击区域 */
	filter: alpha(opacity=0);/* 兼容IE */
	cursor: pointer;
}
.fp-error {
	text-align: center;
	vertical-align: center;
	margin: 10px auto;
	padding: 5px;
	width: 990px;
}
.fp-error span {
	text-align: center;
	height: 30px;
	line-height: 32px;
	display: block;
	background: url(../images/lsimg/notice.gif) no-repeat left center;
	padding-left: 10px;
	width: 150px;
	margin: 100px auto;
}
